@use "../../../../../../themes/orbcStyles";
@include orbcStyles.permit-main-box-style(".amend-reason");

.amend-reason {
  border-top: 1px solid orbcStyles.$bc-border-grey;

  &__label {
    font-weight: bold;
    color: orbcStyles.$bc-black;
    font-size: 1.25rem;
  }

  &__input {
    min-width: 37.5rem;
    max-width: calc(100% - 25rem);
    
    .custom-form-control {
      &__label {
        margin: 0;
      }
    }
  }
}
