.company-info-form {
  width: 100%;
  max-width: 1056px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .bc-gov-alertbanner {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: auto;
  }

  &__submission {
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
    width: 100%;

    .submit-btn {
      &--cancel {
        margin-right: 1em;
      }
    }
  }
}
