.company-info-form {
  width: 100%;
  max-width: 528px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;

  .mp-side-by-side-container {
    display: flex;
    flex-direction: row;
  }

  .mp-form-submit-container {
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
    width: 100%;
  }
}
