@use "../../../themes/orbcStyles";

.profile-created {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 640px;
    margin: 2em 0;
  }

  &__block {
    margin: 1em 0;

    &--client-number {
      padding: 1em 0;
      border-top: 1px solid orbcStyles.$bc-border-grey;
      border-bottom: 1px solid orbcStyles.$bc-border-grey;
      text-align: center;
      width: 100%;

      h3 {
        padding: 0.5em 0;
      }
    }
  
    &--info {
      text-align: center;
    }

    &--view-profile {
      button {
        border: 1px solid orbcStyles.$bc-text-box-border-grey;
      }

      button:hover {
        color: orbcStyles.$white;
      }
    }
  }
}
