@use "../../../themes/orbcStyles";

footer {
  background-color: orbcStyles.$bc-primary-blue;
  border-top: 2px solid orbcStyles.$bc-gold;
  color: orbcStyles.$white;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 46px;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  color: orbcStyles.$white;
  list-style: none;
  align-items: center;
  height: 100%;
}

footer ul li a {
  font-size: 0.813em;
  font-weight: normal; /* 400 */
  color: orbcStyles.$white;
  border-right: 1px solid #4b5e7e;
  padding-left: 5px;
  padding-right: 5px;
}
