@use "../../../../../../../../common/components/form/CustomFormComponents.scss";

@include CustomFormComponents.custom-form-component(".select-unit-or-plate__select");

.select-unit-or-plate {
  & &__label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & &__select {
    .MuiOutlinedInput-root .MuiAutocomplete-input {
      padding: 0;
    }
  }

  & &__menu {
    width: calc(100% - 10px);
  }
}
