@import "../../../../themes/orbcStyles";

.special-authorizations {
  max-width: 59rem;
  color: $bc-black;

  &__no-fee {
    padding: 1.5rem 0 2.5rem 0;
    border-bottom: 1px solid $bc-border-grey;
  }

  &__lcv {
    padding: 2.5rem 0;
    border-bottom: 1px solid $bc-border-grey;
  }

  &__loa {
    padding: 2.5rem 0;

    .add-loa-btn {
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 0.5rem;
      }
    }
  }

  &__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__header-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.no-fee-options {
  & &__title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__type {
    .no-fee-options &#{&}--disabled {
      .no-fee-options {
        &__radio {
          color: $disabled-colour;
        }

        &__label {
          color: $disabled-colour;
        }
      }
    }
  }
}

.active-loas {
  margin-top: 1.5rem;

  & &__header {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 0;
  }
}
