.suspend-snackbar {
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  left: 50%;
  top: 1.5rem;
  transform: translate(-50%, 0);
  z-index: 1000;

  .bc-gov-alertbanner {
    &__icon {
      margin-right: 0.5rem;
    }
  }
}
