# Default codeowners:
* @john-fletcher-aot @gchauhan-aot @praju-aot @krishnan-aot @zgong-gov

# Frontend:
/frontend/** @krishnan-aot @zgong-gov

# Vehicles:
/vehicles/**  @gchauhan-aot @praju-aot

# Public:
/public/**  @gchauhan-aot @praju-aot
# Scheduler:
/scheduler/**  @gchauhan-aot 

# Dops:
/dops/**  @gchauhan-aot @praju-aot

# Policy:
/policy/**  @gchauhan-aot @praju-aot

# Database:
/database/** @gchauhan-aot @john-fletcher-aot @praju-aot

# Devops:
Dockerfile @cberg-aot
docker-compose.yml @cberg-aot
/.github/** @cberg-aot
