# Default codeowners:
* @john-fletcher-aot @gchauhan-aot @praju-aot @krishnan-aot @zgong-gov

# Frontend:
/frontend/** @krishnan-aot @zgong-gov

# Vehicles:
/vehicles/**  @gchauhan-aot @praju-aot @zgong-gov

# Public:
/public/**  @gchauhan-aot @praju-aot @zgong-gov
# Scheduler:
/scheduler/**  @gchauhan-aot @zgong-gov

# Dops:
/dops/**  @gchauhan-aot @praju-aot @zgong-gov

# Policy:
/policy/**  @gchauhan-aot @praju-aot @zgong-gov

# Database:
/database/** @gchauhan-aot @john-fletcher-aot @praju-aot @zgong-gov

# Devops:
Dockerfile @cberg-aot @zgong-gov
docker-compose.yml @cberg-aot @zgong-gov
/.github/** @cberg-aot @zgong-gov
