@import "../../../../../../themes/orbcStyles";

.confirmation-checkboxes {
  & &__checkbox {
    padding-left: 0;
    color: $bc-primary-blue;

    &--invalid {
      color: $bc-red;
    }
  }

  & &__error {
    color: $bc-red;
  }
}
