@use "../../../../common/components/table/Table";
@import "../../../../themes/orbcStyles";

.vehicles-list {
  &__row-actions {
    justify-content: flex-end;
  }
  
  & &__top-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    background-color: $white;
    align-items: center;

    .filter-btn {
      margin-left: 0.5rem;
    }
  }

  &__search {
    .search-input {
      &__input-container {
        border: 2px solid $bc-text-box-border-grey;
        padding-left: 0.75rem;
        display: flex;
        align-items: center;
      
        fieldset {
          border: none;
        }

        .search-icon, .clear-icon {
          font-size: 1rem;
          color: $bc-form-elements-grey;
        }

        &:focus, &:focus-within {
          border: 2px solid $focus-blue;
        }
      }

      &__input-textfield {
        padding-left: 0.25rem;
        font-size: 1rem;
      }
    }
  }
}
