@import "../../../../../../themes/orbcStyles";

.confirmation-checkboxes {
  color: $bc-black;
  
  & &__checkbox {
    padding-left: 0;
    color: $bc-primary-blue;
    
    
    &--invalid {
      color: $bc-red;
    }
    
    &--checked {
      &.confirmation-checkboxes__checkbox--disabled {
        color: $disabled-colour;
      }
    }
  }

  & &__attestation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & &__error {
    color: $bc-red;
  }
}