@use "../../../../../../themes/orbcStyles";
@include orbcStyles.layout-box-style(".permit-review__banner--confirm");

.permit-review {
  padding-top: 1.5rem;
  background-color: orbcStyles.$bc-white;

  &__container {

    .bc-gov-alertbanner {
      margin-bottom: 1.5rem;
    }
  }

}
