@import "../../../../../../themes/orbcStyles";

.review-actions {
  background-color: $bc-white;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & &__btn {
    .button-icon {
      margin-right: 0.5rem;
    }

    &--edit {
      display: flex;
      align-items: center;
    }

    &--cart {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-left: 2.5rem;
      font-weight: bold;
      border-color: $bc-primary-blue;
      color: $bc-primary-blue;
      background-color: $white;

      &:hover {
        background-color: $bc-text-links-blue;
        color: $white;
      }
    }

    &--continue {
      font-weight: bold;
      margin-left: 2.5rem;
    }
  }
}
