@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-vehicle-info");
@include orbcStyles.permit-left-box-style(".review-vehicle-info__header");
@include orbcStyles.permit-right-box-style(".review-vehicle-info__body");

.review-vehicle-info {
  &__body {
    .info-section {
      &__label {
        font-weight: bold;

        &--indicator {
          font-weight: normal;
        }
      }

      &__msg {
        font-weight: bold;
        color: orbcStyles.$bc-green;

        .icon {
          margin-right: 0.5rem;
        }
      }
    }

    .selected-power-unit-and-trailers {
      .selected-power-unit {
        padding: 0 0 1.5rem 0;

        .power-unit-info-display {
          padding: 1rem 0 0 0;
        }
      }

      .selected-trailers {
        border-top: 1px solid orbcStyles.$bc-text-box-border-grey;
        padding: 1.5rem 0 0 0;

        .selected-vehicle-subtype-list {
          margin: 1rem 0 0 0;
          box-shadow: none;
          border-radius: 0;
        }
      }

      .vehicle-saved {
        margin-top: 1rem;
        font-weight: bold;
        color: orbcStyles.$bc-green;

        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}