@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-fee-summary");
@include orbcStyles.permit-left-box-style(".review-fee-summary__header");
@include orbcStyles.permit-right-box-style(".review-fee-summary__body");

.review-fee-summary {
  &__body {
    .fee-summary-wrapper {
      .fee-summary {
        margin-top: 0;
      }

      .fee-summary-banner {
        max-width: 690px;
      }

      .confirmation-checkboxes {
        margin-top: 1.5rem;
      }
    }
  }
}
