@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-extraordinary-load-request");

.review-extraordinary-load-request {
    &__header h3 {
    margin: 0;
  }

  & &__subheader {
    margin: 0;
    padding: 1.5rem 0 1rem;
  }

  & &__radio-group {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  & &__radio-option {
    span.MuiTypography-root {
      color: orbcStyles.$bc-black;
    }
  }

  & &__radio-input {
    span {
      color: orbcStyles.$disabled-colour;
    }
  }

  & &__approval-number {
    .approval-number {
      &__heading {
        font-weight: bold;
        margin-bottom: 8px;
      }
      &__value {
        margin: 0;
      }

    }
  }
} 