@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-contact-details");
@include orbcStyles.permit-left-box-style(".review-contact-details__header");
@include orbcStyles.permit-right-box-style(".review-contact-details__body");

.review-contact-details {
  &__body {
    .contact-details {
      &__label {
        margin-right: 0.5em;
      }

      &__detail {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (width < 360px) {
  .review-contact-details {
    &__body {
      .contact-details {
        &__detail {
          flex-direction: column;
        }
      }
    }
  }
}
