@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-permit-details");
@include orbcStyles.permit-left-box-style(".review-permit-details__header");
@include orbcStyles.permit-right-box-style(".review-permit-details__body");

.review-permit-details {
  &__body {
    .permit-dates {
      &__label {
        font-weight: bold;
      }

      &__duration {
        margin-top: 1.5rem;
      }
    }

    .permit-expiry-banner {
      margin-top: 1.5rem;
    }

    .permit-error-banner {
      padding-top: 1.5rem;
      
      .bc-gov-alertbanner {
        background-color: orbcStyles.$bc-messages-red-background;
        color: orbcStyles.$bc-messages-red-text;
        margin-bottom: 0;
      }
    }

    .permit-conditions {
      margin-top: 1.5rem;
    }
  }
}

@media (width < 370px) {
  .review-permit-details {
    &__body {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
