@use "../../../../../../themes/orbcStyles";
@import "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-permit-details");
@include orbcStyles.permit-left-box-style(".review-permit-details__header");
@include orbcStyles.permit-right-box-style(".review-permit-details__body");

.review-permit-details {
  &__body {
    .permit-dates {
      gap: 40px;
      padding-top: 24px;

      &__label {
        font-weight: 600;
      }
    }

    .permit-expiry-banner {
      width: 90%;
    }

    .permit-error-banner {
      padding-top: 1.5rem;
      
      .bc-gov-alertbanner {
        background-color: $bc-messages-red-background;
        color: $bc-messages-red-text;
        margin-bottom: 0;
      }
    }
  }
}

@media (width < 370px) {
  .review-permit-details {
    &__body {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
