@use "../../../../../../themes/orbcStyles";
@include orbcStyles.layout-box-style(".review-actions");

.review-actions {
  background-color: orbcStyles.$bc-white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
  border-top: 1px solid orbcStyles.$bc-border-grey;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  & &__btn {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
    .button-icon {
      margin-right: 0.5rem;
    }

    &--edit {
      display: flex;
      align-items: center;
    }

    &--reject {
      &:hover {
        background-color: orbcStyles.$bc-messages-red-text;
      }
      &:disabled {
        background-color: orbcStyles.$bc-red-disabled;
        color: orbcStyles.$white;
      }
    }

    &--approve {
      &:disabled {
        background-color: orbcStyles.$disabled-colour;
        color: orbcStyles.$white;
      }
    }

    &--cart {
      padding-left: 2rem;
      padding-right: 2rem;
     
      font-weight: bold;
      border-color: orbcStyles.$bc-primary-blue;
      color: orbcStyles.$bc-primary-blue;
      background-color: orbcStyles.$white;

      &:hover {
        background-color: orbcStyles.$bc-text-links-blue;
        color: orbcStyles.$white;
      }
    }

    &--continue {
      font-weight: bold;
    }
  }
}
