@import "../../../../../../themes/orbcStyles";

.review-conditions-table {
  table-layout: fixed;

  & &__header {
    font-weight: bold;
    padding: 1rem;

    &--description {
      padding-left: 0;
    }
  }

  &__row {
    &:last-child th, &:last-child td {
      border: 0;
    }

    .checkbox.checkbox--readonly {
      padding: 0;
      margin-right: 0.5em;
      color: $disabled-colour;
    }
  }

  & &__cell {
    padding: 1rem;

    &--description {
      padding-left: 0;
    }
  }
}