@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-conditional-licensing-fees-section");
@include orbcStyles.permit-left-box-style(".review-conditional-licensing-fees-section__header");
@include orbcStyles.permit-right-box-style(".review-conditional-licensing-fees-section__body");

.review-conditional-licensing-fees-section {
  &__body {
    display: flex;
    align-items: flex-start;
  }
}

@media (width < 370px) {
  .review-conditional-licensing-fees-section {
    &__body {
      max-width: 100%;
      min-width: 100%;
      display: block;
    }
  }
}
