@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".review-trip-details");
@include orbcStyles.permit-left-box-style(".review-trip-details__header");
@include orbcStyles.permit-right-box-style(".review-trip-details__body");

.review-trip-details {
  &__body {
    width: 100%;
    
    .manual-route {
      &__label-text {
        font-weight: bold;
      }

      &__destination,
      &__exit,
      &__total-distance {
        margin-top: 1.5rem;
      }

      &__is-return-trip {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .return-trip-option {
          margin: 0;

          &__radio {
            padding: 0;
            margin-left: -0.125rem;
            margin-right: 0.5rem;
            color: orbcStyles.$disabled-colour;

            &--disabled {
              color: orbcStyles.$disabled-colour;
            }
          }

          &--disabled.return-trip-option__label {
            margin: 0;
            color: orbcStyles.$bc-black;
          }
        }
      }

      &__info {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        align-items: center;
      }

      &__info-text {
        color: orbcStyles.$bc-black;
      }
    }

    .review-highway-sequences {
      margin-top: 1.5rem;
      border-top: 1px solid orbcStyles.$bc-text-box-border-grey;
      padding: 1.5rem 0 0 0;

      &__sequences {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(8, [col] 1fr);
        row-gap: 1rem;
      }
    }

    .specific-route {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      border-top: 1px solid orbcStyles.$bc-text-box-border-grey;

      &__label-text {
        font-weight: bold;
      }
    }
  }
}

@media (width < 370px) {
  .review-trip-details {
    &__body {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
