@import "../../../../themes/orbcStyles";

@mixin vehicle-form-layout($vehicle-form-class) {
  #{$vehicle-form-class} {
    & &__field {
      width: 490px;
    }

    & &__field-label {
      font-weight: bold;
    }

    & &__actions {
      margin: 2rem 0;
    }

    &__action-btn {
      &#{&}--cancel {
        margin-right: 2.5rem;
        padding: 0.75rem 1rem;
        box-shadow: none;
        color: $bc-black;

        &:hover, &:focus {
          background-color: $bc-background-light-grey;
          border: 2px solid $bc-text-box-border-grey;
          outline: none;
          box-shadow: none;
        }

        &:active {
          background-color: $bc-background-light-grey;
          border: 2px solid $bc-black;
          outline: none;
          box-shadow: none;
        }
      }

      &#{&}--submit {
        font-weight: bold;
        padding: 0.75 2rem;
      }
    }
  }
}
