@use "../../../../../themes/orbcStyles";

@include orbcStyles.form-layout(".my-info-form");

.my-info-form {
  margin-top: 0.5em;

  &__submission {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
    margin-bottom: 2em;
    
    .submit-btn {
      &--cancel {
        margin-right: 1em;
      }
    }
  }
}
