@import "../../../themes/orbcStyles";

.non-finance-container {
  margin-top: 1.5rem;
}

.non-finance-container__banner {
  font-weight: normal;
}

.non-finance-container__info {
  font-weight: bold;
}