@use "../../../themes/orbcStyles";

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  &__main {
    background-color: orbcStyles.$bc-primary-blue;
    border-bottom: 2px solid orbcStyles.$bc-gold;
    padding: 0 8.551vw;
    color: orbcStyles.$white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
    -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
    box-shadow: 0 6px 8px -4px #b3b1b3;

    &--test {
      background-color: orange;
    }

    &--uat {
      background-color: purple;
    }

    &--dev {
      background-color: green;
    }

    &--default {
      background-color: orbcStyles.$bc-primary-blue;
    }

    .brand-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .options-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .auth-section {
        display: flex;
        flex-direction: row;
      }
    }

    .other {
      display: none;

      .nav-btn {
        display: none;
        width: auto;
        margin: 0 0 0 auto;
        cursor: pointer;
      }
    }
  
    .user-section {
      display: flex;
    }
  }

  :focus {
    outline: 2px solid orbcStyles.$focus-blue;
    outline-offset: -12px;
  }

  .navbar {
    display: none;
    position: relative;
    top: 0;
    color: orbcStyles.$bc-gold;
    background-color: orbcStyles.$bc-background-blue;
    width: 100%;

    &--normal {
      display: block;

      .user-section {
        display: none;
      }
    }

    &--mobile {
      display: none;
    }
  
    &__links {
      padding: 0;
      height: 40px;

      ul {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
        color: orbcStyles.$white;
        list-style: none;
        padding-left: 8.551vw;
        box-sizing: border-box;

        li {
          margin: 0;
          height: 100%;

          a {
            display: flex;
            font-size: 0.813em;
            font-weight: normal; /* 400 */
            color: orbcStyles.$white;
            padding: 0 1rem;
            text-decoration: none;
            border-right: 1px solid #9b9b9b;
            height: 100%;
            align-items: center;
            
            &.active {
              background-color: orbcStyles.$bc-background-light-grey;
              color: orbcStyles.$bc-background-blue;
            }

            &:focus {
              outline-offset: 0;
            }
          }
        }
      }
    }
  }
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full. 
*/
@media (width < 768px) {
  .header {
    position: relative;
    header {
      height: fit-content;
      flex-direction: column;

      .brand-section {
        padding: 0;
        justify-content: center;
      }

      .options-section {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .auth-section {
          flex-direction: column;

          .user-section {
            flex-direction: column;
          }

          .search-button {
            padding-top: 1rem;
            color: #fcba19;
            background-color: #003366;
          }
        }

        .other {
          .nav-btn {
            padding: 1rem 0;
            margin-right: 0;
          }
        }
      }
    }

    &__main {
      padding: 0 0.5rem;

      .user-section {
        display: flex;
      }

      .other {
        display: flex;
        justify-content: flex-end;
        align-items: center;
  
        a .menu-icon {
          color: orbcStyles.$white;
          font-size: 1.4em;
          font-style: bold;
          line-height: 1;
          padding: 5px;
          -webkit-font-smoothing: antialiased;
        }
  
        .nav-btn {
          display: block;
          width: auto;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }

    .navbar {
      display: none;

      &--normal {
        display: none;
      }

      &--mobile {
        display: block;

        .user-section {
          display: none;
  
          &--mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
          }
        }
      }

      &__links {
        padding: 0.6em 0;
        height: 100%;
    
        ul {
          flex-direction: column;
          margin: 0;
          padding: 0 1.5rem;
    
          li {
            margin: 5px 0;
    
            a {
              border: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
    
          .active {
            font-weight: bold;
            background-color: orbcStyles.$bc-background-light-grey;
            color: orbcStyles.$bc-background-blue;
          }
        }
      }
    }
  }
}

@media (width < 420px) {
  .header {
    &__main {
      padding: 0 1rem;

      .other {
        .nav-btn {
          .menu-icon {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
