@use "../../../themes/orbcStyles";

header {
  background-color: orbcStyles.$bc-primary-blue;
  border-bottom: 2px solid orbcStyles.$bc-gold;
  padding: 0 30px 0 30px;
  color: orbcStyles.$white;
  display: flex;
  height: 65px;
  top: 0;
  //position: sticky;
  //width: 100%;
  -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
  -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
  box-shadow: 0 6px 8px -4px #b3b1b3;
}

header h1 {
  //font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: normal; /* 400 */
  margin: 5px 5px 0 18px;
  visibility: hidden;
}

header .other {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}

header a .menu-icon {
  color: orbcStyles.$white;
  font-size: 1.4em;
  font-style: bold;
  line-height: 1;
  /* border-style: solid;
  border-width: 1px;
  border-color: orbcStyles.$bc-gold; */
  padding: 5px;
  -webkit-font-smoothing: antialiased;
}

header .nav-btn {
  display: block;
  width: auto;
  //padding-right: 60px;
  margin-right: 20px;
  cursor: pointer;
}

.user-section {
  display: none;

  &--mobile {
    display: block;
    padding: 0rem 1rem;
    font-size: 0.813rem;

    .user-section-info {
      margin-bottom: 0.5rem;
    }
  }
}

.navigation-main {
  display: none;
  position: sticky;
  top: 65px;
  color: orbcStyles.$bc-gold;
  background-color: orbcStyles.$bc-background-blue;
  width: 100%;
  // -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
  // -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
  // box-shadow: 0 6px 8px -4px #b3b1b3;
}

.navigation-main .list-container {
  margin-right: 60px;
  padding: 10px 0 10px 0;
}

.navigation-main .list-container ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: orbcStyles.$white;
  list-style: none;
  padding-left: 60px;
  //margin-left: -25px;
  /* border-style: dotted;
  border-width: 1px;
  border-color: red; */
}

.navigation-main .list-container ul li {
  margin: 5px 0;
  height: 100%;
}

.navigation-main .list-container ul li a {
  display: flex;
  font-size: 0.813em;
  font-weight: normal; /* 400 */
  color: orbcStyles.$white;
  padding: 0 15px 0 15px;
  text-decoration: none;

  /* border-style: dotted;
  border-width: 1px;
  border-color: green; */
}

.navigation-main .list-container ul li a:hover {
  text-decoration: underline;
}

.navigation-main .list-container ul .active {
  //text-decoration: underline;
  font-weight: bold;
  background-color: orbcStyles.$bc-background-light-grey;
  color: orbcStyles.$bc-background-blue;
}

.nav-container :focus {
  outline: 2px solid orbcStyles.$focus-blue;
  outline-offset: -12px;
}

/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full. 
*/

@media screen and (min-width: 768px) {
  .navigation-main {
    display: block;
  }

  .navigation-main .list-container {
    padding: 0px 0 0px 0;
    height: 40px;
  }

  .navigation-main .list-container ul {
    flex-direction: row;
    height: 100%;
  }

  .navigation-main .list-container ul li {
    margin: 0;
  }

  .navigation-main .list-container ul li a {
    border-right: 1px solid #9b9b9b;
    height: 100%;
    align-items: center;
  }

  header .nav-btn {
    display: none;
    width: auto;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  .user-section {
    display: block;

    &--mobile {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  header h1 {
    font-size: calc(7px + 2.2vw);
    visibility: visible;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    font-size: 2em;
    visibility: visible;
  }
}
