@import "../../../../../../themes/orbcStyles";

.loa-review {
  color: $bc-black;

  &__section {
    margin-top: 1rem;

    &--permit-types {
      margin-top: 0;
    }
  }

  &__header {
    font-weight: bold;
  }

  &__data-line {
    margin: 0;
  }
}
