@use "../../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".vehicle-weight-section");
@include orbcStyles.permit-left-box-style(".vehicle-weight-section__header");
@include orbcStyles.permit-right-box-style(".vehicle-weight-section__body");

.vehicle-weight-section {
  &__body {
    display: flex;
    flex-direction: column;
  }

  & &__input {
    margin-top: 1.5rem;
    margin-bottom: 0;
    max-width: 30.625rem;

    &--loaded-gvw {
      margin-top: 0;
    }
  }
}
