@import "../../../../../../../themes/orbcStyles";

@mixin payment-option-style($payment-option) {
  #{$payment-option} {
    padding: 1em;
    border: 1px solid $bc-text-box-border-grey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    &--active {
      border: 1px solid $bc-black;
      background-color: $bc-messages-blue-background;
    }

    .label-icon-display {
      display: flex;
      flex-direction: row;

      & &__title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-right: 0.25rem;
      }

      & &__left {
        display: flex;
        flex-direction: row;
      }

      & &__right {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
