.company-info-general-form {
  width: 100%;
  max-width: 528px;

  .side-by-side-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__input {
    width: 100%;

    &--left {
      width: 60%;
    }

    &--right {
      width: 30%;
    }
  }
}

@media (width < 450px) {
  .company-info-general-form {
    .side-by-side-inputs {
      flex-direction: column;
      align-items: flex-start;
    }

    &__input {
      &--left {
        width: 100%;
      }

      &--right {
        width: 50%;
      }
    }
  }
}