body {
	background-color: #f1f1f1;
    height: 95%
	font-family: Helvetica Neue, Helvetica,Arial, sans serif;
	font-size: 14px;
	color: #494949;
	padding:0;
	margin:0;
}

.headerstripe
{
    height:100%;
    /*background-image:url(../Images/Colorado/HeaderRepeat.png);
    background-repeat:repeat-x;*/
    background-color: #003366;
    width:100%;
    min-width: 1246px;
    border-bottom: solid;
    border-bottom-color: #FCBA19 !important;
    border-bottom-width: 2px !important;
}

.bcheader
{
    background-color:#003366;
    max-width:1280px;
    min-width: 1246px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bcheaderimage {
    height: 65px;
}

.linkbackground
{
    background-color:#efb31d;
}

.Gcontentcontainer
{
    margin: 0 auto;
    margin-top: 15px;
    padding:12px;
    max-width:1280px;
    background-color:#fff;
}

.GcontentcontainerFULL
{
    margin: 0 auto;
    padding:12px;
    width:100%;
    background-color:#fff;
}

.Footer {
    background-color: #003366;
    border-top: solid;
    border-top-color: #FCBA19 !important;
    border-top-width: 2px !important;
    min-width: 1246px;
    margin-top: 15px;
    position:static;
    bottom: 0;
    height: 5%;
}

#form1 {  /*This conforms to the pages that have the header plus one navigation ribbon,  This is the majority of the site*/
    min-height: calc(100vh - 108px) !important;
}
 
 #form1NoNav { /*This is for pages with just the header*/
    min-height: calc(100vh - 70px) !important;
}

#form3 {/*This is for pages with 3 tiers in the header*/
    min-height: calc(100vh - 108px) !important;
}

form {
    height: 95%;
}

.onRoute {
    color: #003366;
}

.BC {
    color: #FCBA19;
}

.HeaderLinks {
	color: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	padding: 10px 15px;
	position: relative;
    margin-top: 45px;
}

.HeaderLinks a {
	color: #fff;
	display: table-cell;
	text-align: center;
	padding-bottom: 0px;
	/*padding-top: 45px;*/
    padding-left: 15px;
    padding-right: 2px;
	position: relative;
    bottom: 0;
}

    .HeaderLinks :hover {
        color: #fff;
    }

.HeaderLinks a+a:after {
	content: "";
	background: #748bad;
    color: #fff;
	position: absolute;
    margin-left: 6px;
	bottom: 1%;
	left: 0;
	height: 100%;
	width: 1px;
}

.navigationRibbon {
	-webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
	-moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
	box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
	border-top: 2px solid #fcba19;
}

.navigationRibbon a {
	color: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 10px 15px;
	position: relative;
}

.navigationRibbon a+a:after {
	content: "";
	background: #748bad;
	position: absolute;
	bottom: 25%;
	left: 0;
	height: 50%;
	width: 1px;
}

.navigationRibbon a.current {
	text-decoration: underline;
	font-weight: bold;
}

    .navigationRibbon a:hover {
        color: #fff;
    }

.navigationRibbon .level2Navigation a.current {
	background-image: url("../Images/nav-ribbon-arrow.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.navigationRibbon .level2Navigation {
	background-color: #38598a;
}

.navigationRibbon .level3Navigation {
	background-color: #5475a7;
}

	#header .container {
		padding: 0;
	}
    
	#header .qa-banner .container .qa-banner-text {
		font-size: 13px;
	}
    
	.container {
		padding: 0;
	}
    
#header.collapsed-header #header-main > .container {
    position: relative;
}

#header.collapsed-header #header-main > .container {
    position: relative;
}

.accordion-container{
	margin-top:6px;
}

.accordion-btn-container{
	width:170px;
}

#divShoppingCartMenu {
    background-color: #337AB7;
    /*width: 400px;
    height: 250px;*/

    /*Border Radius stuff*/
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 12px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 12px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 12px;

    border: solid #fff;
    border-width: 1px;

    /*Shadow effects*/
    -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#shpCrtCheckoutBtn {
  float: right;
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
  background: #33b76a;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.breadcrumb {
    padding: 0px;
	background: #D4D4D4;
	list-style: none; 
	overflow: hidden;
    /*margin-top: 20px;*/
}
.breadcrumb>li+li:before {
	padding: 0;
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li.active a {
	background: brown;                   /* fallback color */
	background: #ffc107 ; 
}
.breadcrumb li.completed a {
	background: brown;                   /* fallback color */
	background: hsla(153, 57%, 51%, 1); 
}
.breadcrumb li.active a:after {
	border-left: 30px solid #ffc107 ;
}
.breadcrumb li.completed a:after {
	border-left: 30px solid hsla(153, 57%, 51%, 1);
} 

.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 45px;
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(0, 0%, 83%, 1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li:first-child a {
	padding-left: 15px;
}
.breadcrumb li a:hover { background: #ffc107  ; }
.breadcrumb li a:hover:after { border-left-color: #ffc107   !important; }