/* Fonts */
@font-face {
    src: url('../fonts/BCSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-BoldItalic.woff') format("woff");
    font-weight: 700;
    font-style: italic;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-Italic.woff') format("woff");
    font-weight: 400;
    font-style: italic;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-Bold.woff') format("woff");
    font-weight: 700;
    font-family: 'BCSans';
    font-display: swap;
}

/* Variables */
:root {
    /* Colors */
    --focus-blue: #3B99FC;
    --formsflow-light-gold: #F9F1C6;
    --bc-messages-blue-background: #D9EAF7;
    --bc-black: #313132;
    --bc-gold: #FCBA19;
    --bc-text-box-border-grey: #B2B5B6;
    --white: #FFFFFF;
    --bc-primary-blue: #003366;
    --bc-secondary-blue: #133262;
    --bc-border-grey: #DBDCDC;
    --bc-text-links-blue: #1A5A96;
    --bc-text-links-blue-hover: #0000FF;
    --bc-background-light-grey: #F1F1F1;
    --bc-background-blue-grey: #F4F5F8;
    --bc-background-blue: #455A86;
    --bc-hover-blue: #2D5992;
    --bc-disabled-grey: #B5C0CF;
    --bc-footer-grey: #4B5E7E;
    --fade-top: #F1F1F100;

    /* Sizing */
    --4: 4px;
    --8: 8px;
    --12: 12px;
    --16: 16px;
    --20: 20px;
    --24: 24px;
    --28: 28px;
    --32: 32px;
    --36: 36px;

    /* Elements */
    --header-height: 89px;
}

/* Defaults */
body {
    font-family: 'BCSans';
    background-color: var(--bc-background-light-grey);
}

p {
    color: var(--bc-black);
    font-size: var(--16);
    line-height: var(--24);
    letter-spacing: normal;
}

h3 {
    color: var(--bc-black);
    font-size: var(--20);
    line-height: var(--32);
    letter-spacing: -0.4px;
}

/* Utility */
.container {
    max-width: calc(1470px + var(--32));
    margin: 0 auto;
    padding: 0 var(--16);
}

/* Link */
.link {
    letter-spacing: normal;
    color: var(--bc-text-links-blue);
}

.link:hover, .link:active {
    color: var(--bc-text-links-blue-hover);
}

.link:focus {
    outline-offset: 2px;
}

/* Button */
.btn {
    padding: var(--12) var(--32);
    font-size: var(--16);
    font-weight: bold;
    text-decoration: none;
    color: var(--bc-primary-blue);
    border: 2px solid;
    border-radius: var(--4);
    border-color: var(--bc-primary-blue);
}

.btn:hover, .btn:active {
    background-color: var(--bc-hover-blue);
    border-color: var(--bc-hover-blue);
    color: var(--white);
}

.btn:focus {
    outline-offset: 2px;
}

.btn--sm {
    font-weight: normal;
    padding: var(--12) var(--16);
}

.btn--grey {
    background-color: var(--bc-background-light-grey);
    border-color: var(--bc-background-light-grey);
    color: var(--bc-black);
}

.btn--grey:hover {
    background-color:  var(--bc-background-light-grey);
    border-color: var(--bc-text-box-border-grey);
    color: var(--bc-black);
}

.btn--grey:active {
    border-color: var(--bc-black);
}

.btn--blue {
    background-color: var(--bc-primary-blue);
    color: var(--white);
}

.btn--blue:hover, .btn--blue:active {
    background-color: var(--bc-hover-blue);
    border-color: var(--bc-hover-blue);
}

/* Box */
.box {
    margin-bottom: var(--16);
}

.box-header {
    background-color: var(--bc-background-blue);
    padding: var(--12) var(--16);
    color: var(--white);
}

.box-content {
    background-color: var(--white);
    padding: var(--24) var(--16);
}

.box-flex {
    display: flex;
    flex-direction: column;
}

.box-flex > * {
    width: 100%;
}

.box-flex > *:not(:last-child) {
    border-bottom: 1px solid var(--bc-border-grey);
}

/* Header */
.header {
    background-color: var(--bc-secondary-blue);
    padding: var(--8) 0;
    border-bottom: 4px solid var(--bc-gold);
    max-height: var(--header-height);
}

.header__logo {
    width: 115px;
    transform: translateY(-8px);
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 208px;
    }
}

/* Hero */
.hero__image img {
    width: 100vw;
    height: 580px;
    object-fit: cover;
}

.hero__box {
    position: absolute;
    z-index: 1;
    top: calc(96px + var(--header-height));
    max-width: min-content;
    background-color: var(--bc-secondary-blue);
    opacity: 0.8;
    padding: var(--24);
    padding-bottom: 80px;
    color: var(--white);
    margin-bottom: 128px;
}

.hero__heading {
    font-size: var(--28);
    line-height: 52px;
    letter-spacing: -0.72px;
}

.hero__subheading {
    color: var(--white);
    font-size: var(--16);
    line-height: 30px;
    letter-spacing: normal;
}

.hero__fade {
    position: absolute;
    top: calc(369px + var(--header-height));
    width: 100%;
    height: 340px;
    background: transparent linear-gradient(180deg, var(--fade-top) 0%, var(--bc-background-light-grey) 50%) 0% 0% no-repeat padding-box;
}

@media screen and (min-width: 576px) {
    .hero__box {
        margin-left: var(--16);
    }
    .hero__subheading {
        font-size: var(--20);
    }

    .hero__heading {
        font-size: var(--36);
    }
}

@media screen and (min-width: 768px) {
    .hero__box {
        max-width: 680px;
    }
}

/* Vertical Offset */
.vertical-offset {
    position: absolute;
    top: calc(442px + var(--header-height));
    width: 100%;
}

/* Main */
.main__flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1100px) {
    .main__flex {
        flex-direction: row;
        gap: var(--20);
    }   
    .main__left {
        width: 75%;
    }
    .main__right {
        width: 25%;
    }
   }

/* Permit Overview */
.permit-overview__content {
    border-bottom: 1px solid var(--bc-border-grey);
}

.permit-overview h3 {
    margin-bottom: var(--16);
}

.term-oversize p {
    margin-bottom: var(--16);
}

.other-permits .btn {
    margin-bottom: var(--16);
}

@media screen and (min-width: 576px) {
    .permit-overview .box-flex {
        flex-direction: row;
    }
    .permit-overview .box-flex > *:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--bc-border-grey);
    }
}

/* Permit Information */
.permit-info__bottom-content {
    border-top: 1px solid var(--bc-border-grey);
}

.permit-info h3:not(:last-child) {
    margin-bottom: var(--16);
}

@media screen and (min-width: 768px) {
    .permit-info .box-flex {
        flex-direction: row;
    }
    .permit-info .box-flex > *:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--bc-border-grey);
    }
}

/* Permit Centre */
.permit-centre h3 {
    margin-bottom: var(--16);
}

.permit-centre .box-content:first-child {
    padding-top: 0;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact address  {
    font-style: normal;
}

.contact__row:not(:last-child) {
    margin-bottom: var(--16);
}

.contact__label {
    font-weight: bold;
}

.contact__value {
    display: block;
}

@media screen and (min-width: 576px) {
    .contact{
        flex-direction: row;
    }

    .permit-centre .contact__col {
        padding-top: 0;
        border-bottom: none;
    }
}

/* Public Sector */
.public-sector p {
    margin-bottom: var(--16);
}

/* Routes */
.routes p:not(:last-child) {
    margin-bottom: var(--16);
}

/* Footer */
footer {
    margin-top: 60px;
    border-top: var(--4) solid var(--bc-gold);
    color: var(--white);
    width: 100%;
    padding: var(--24) 0;
    background-color: var(--bc-secondary-blue);
}

footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--8);
    margin: 0;
    color : white;
    list-style: none;
    align-items: center;
    height: 100%;
    padding: 0;
}

footer ul li {
    display: list-item;
}

footer ul li a {
    text-decoration: none;
    color : white;
}

footer ul li a:hover, footer ul li a:focus {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    footer ul {
        flex-direction: row;
        row-gap: 0;
    } 

    footer ul li:not(:first-child) {
        padding-left: var(--16);
    }
    
    footer ul li:not(:last-child) {
        padding-right: var(--16);
        border-right: 1px solid var(--bc-footer-grey);
    }
}
