@font-face {
    font-family: 'Myriad-Pro';
	src: url('../fonts/MyriadWebPro.ttf');
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* TODO: UNCOMMENT WHEN FIXING FOR OR-19 */
    /*padding-top: 85px;
    padding-bottom: 70px;*/
    font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
    background-color: #f1f1f1;
    color: #494949;
    font-size: 14px;
}


.row {
    margin: 0;
}

/* HEADER FORMATTING */

#header-main {
    border-bottom: 2px solid #fcba19;
    background-color: #003366;
    margin-bottom: 0;
    color: #FFFFFF;
}

/* Navbar */

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: 500;
}
.navbar-brand {
    padding: 0px;
    width: auto;
    height: auto;
}
.navbar-brand > img {
    /* Logo size responsive to height value */
    height: 80px;
    padding: 10px;
    width: auto;
}
.navbar-header {
    width: 100%;
    padding-left: 15px;
}

/* Jumbotron */

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    background-image: url("../images/Loaded-Logging-Truck-on-Hwy-near-Cache-Creek.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron DIV {
    color: #fff;
    background-color: rgba(100,100,100, 0.30);
    padding: 10px;
    border-radius: 8px;
    height: auto;
    margin: auto;
}
.jumbotron .container H1 {
    margin: 0px;
}

.jumbotron .container .container {
    width: auto;
    max-width: 362px;
    margin-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    background-color: rgba(75,94,115, 0.70);
}

.jumbotron .container .container li {
    display: block;
    color: greenyellow;
}
.jumbotron .container .container li:before{
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-weight: normal;

    padding-right: 10px;
    color: greenyellow;
}

.jumbotron .btn-lg {
    border-radius: 0;
    min-width: 183px;
}
.btn-default {
    background-color:#ddd;
}
.blue-heading-bar {
    background: #003366;
    /* Old browsers */
    /*background: -moz-linear-gradient(top, #003366 0%, #2989d8 100%, #003366 100%, #003366 100%, #2989d8 100%);*/
    /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #003366 0%, #2989d8 100%, #003366 100%, #003366 100%, #2989d8 100%);*/
    /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, #003366 0%, #2989d8 100%, #003366 100%, #003366 100%, #2989d8 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#2989d8', GradientType=0);*/
    border-top-color: #FCBA19 !important;
    border-top-width: 2px !important;
    border-top: 2px solid #FCBA19 !important;
}
#access_row {
    margin-top: 15px;
}

/* FOOTER FORMATTING */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #fcba19;
    background-color: #003366;
    margin-top: 20px;
}
footer a {
    color: #FFFFFF;
    font-size: 14px;
}
#footerAdminSection ul {
    clear: both;
}
#footerAdminLinksContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Links */

ul.inline li a:link,
nav ul.inline li a:visited {
    color: #FFFFFF;
}
ul.inline {
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0;
    margin: 16px 0 0 0;
}
ul.inline li {
    float: left;
    padding: 2px 10px;
    position: relative;
}
ul.inline li+li {
    border-left: 1px solid #4B5E73;
}
ul.inline li a:link,
nav ul.inline li a:visited {
    color: #FFFFFF;
    display: block;
    text-align: center;
}

/* CONTENT BOXES */

.blue-heading-bar {
    background-color: rgba(0, 51, 102, 0.80);
    color: #FFFFFF;
    font-size: 24px;
    padding: 8px 15px 7px 15px;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
}
.content-column {
    padding: 15px;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 15px;
}
.content-box {
    padding: 0;
}
@media (min-width: 992px) {
    .row > .content-box+.content-box {
        padding-left: 15px;
    }
}

/* CONTENT TABLE FORMATTING */

.table-responsive {
    overflow-x: visible;
    overflow-y: visible;
    border: none;
}
.featureBoxes-3col {
    margin-bottom: 15px;
}
.featureBoxes-3col {
    display: table;
    width: 100%
}
.featureBoxes-3col > .featureBox {
    background-color: #FFFFFF;
    background-color: rgba(252, 252, 252, 1);
    display: table-cell;
    float: none;
    vertical-align: top;
    padding: 20px 15px;
}
.featureBoxes-3col .featureBox .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: #1a5a96;
    margin-top: 0;
    margin-bottom: 10px;
}
.featureBoxes-3col .featureBox+.featureBox {
    border-left: 1px solid #e3e3e3;
}

.jumbotron .btn-link {
    color: #f9f9f9;
    text-decoration: underline;
}

@media (max-width: 590px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
    }

        .table-responsive > .table {
            margin-bottom: 0;
        }

    .featureBoxes-3col > .featureBox {
        display: block;
    }

    .featureBoxes-3col .featureBox + .featureBox {
        border-left: none;
        border-top: 1px solid #e3e3e3;
    }

    #access_row {
        margin-top: 5px;
    }

    .jumbotron .btn-lg {
        margin-bottom: 5px;
    }
}
@media (max-width: 319px) {

    .jumbotron {
        background-image: none;
    }

        .jumbotron DIV {
            color: #000;
            background-color: #f1f1f1;
            padding: 10px;
            border-radius: 8px;
            height: auto;
            margin: auto;
        }

    #jumbotrontitle {
        display: none;
    }

    .jumbotron .btn-link {
        color: #333;
        text-decoration: underline;
    }
}

.permitAvailable,
.permitAvailableNoAuto,
.permitTPS {
    border: 2px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;

    font-weight: normal;
    font-size: 10pt;
}

.permitAvailable {
    border-color: forestgreen;
    background-color: #DBFFDC;
}

.permitAvailableNoAuto {
    border-color: darkgoldenrod;
    background-color: #FFFFB7;
}

.permitTPS {
    border-color: rgba(0, 51, 102, 0.80);
    background-color: #A6CFFE;
}

.alert-warning {
    border-color: orange;
    border-width: 3px;

    background-color: lightgoldenrodyellow;
    color: darkorange;
    font-size: 14pt;
}

.alert-warning p {
    color: #333;
    font-size: 11pt;
}

.alert-warning strong {
    color: #000;
    font-size: 16px;
}

.headerstripe {
    -webkit-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 3px 3px 1px rgba(51, 51, 51, 0.5);
}
