USE [master]
GO

CREATE DATABASE [onroutebc]
GO
/****** Object:  Database [onroutebc]    Script Date: 12/7/2022 9:25:03 PM ******/
/*
CREATE DATABASE [onroutebc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'onroutebc', FILENAME = N'\onroutebc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'onroutebc_log', FILENAME = N'\onroutebc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [onroutebc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
*/
USE [onroutebc]
GO
/****** Object:  Table [dbo].[ORT_COUNTRY]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](50) NOT NULL,
	[COUNTRY_CODE] [char](2) NOT NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_POWER_UNIT]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_POWER_UNIT](
	[POWER_UNIT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UNIT_NUMBER] [nvarchar](10) NULL,
	[PLATE_NUMBER] [nvarchar](10) NOT NULL,
	[PROVINCE_STATE_REGISTERED] [int] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[MAKE] [nvarchar](50) NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[LICENSED_GVW] [numeric](18, 0) NOT NULL,
	[POWER_UNIT_TYPE] [int] NOT NULL,
	[STEER_AXLE_TIRE_SIZE] [int] NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_POWER_UNIT] PRIMARY KEY CLUSTERED 
(
	[POWER_UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_POWER_UNIT_TYPE]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_POWER_UNIT_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](150) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[POLICY_REFERENCE] [nvarchar](150) NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_POWER_UNIT_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_PROVINCE_STATE]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_PROVINCE_STATE](
	[PROVINCE_STATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_STATE_NAME] [nvarchar](100) NOT NULL,
	[PROVINCE_STATE_CODE] [char](2) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_PROVINCE_STATE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_TRAILER]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_TRAILER](
	[TRAILER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UNIT_NUMBER] [nvarchar](10) NULL,
	[PLATE_NUMBER] [nvarchar](10) NOT NULL,
	[PROVINCE_STATE_REGISTERED] [int] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[MAKE] [nvarchar](50) NOT NULL,
	[VIN] [varchar](17) NOT NULL,
	[TRAILER_TYPE] [int] NOT NULL,
	[TRAILER_SUBTYPE] [int] NULL,
	[EMPTY_TRAILER_WIDTH] [numeric](18, 0) NULL,
	[COMPANY_ID] [int] NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_TRAILER] PRIMARY KEY CLUSTERED 
(
	[TRAILER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_TRAILER_SUBTYPE]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_TRAILER_SUBTYPE](
	[SUBTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBTYPE] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[TYPE_ID] [int] NOT NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_TRAILER_SUBTYPE] PRIMARY KEY CLUSTERED 
(
	[SUBTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORT_TRAILER_TYPE]    Script Date: 12/7/2022 9:25:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORT_TRAILER_TYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [nvarchar](150) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[POLICY_REFERENCE] [nvarchar](150) NULL,
	[DB_CREATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_CREATE_USERID] [varchar](63) NOT NULL,
	[DB_LAST_UPDATE_TIMESTAMP] [datetime2](7) NOT NULL,
	[DB_LAST_UPDATE_USERID] [varchar](63) NOT NULL,
 CONSTRAINT [PK_ORT_TRAILER_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORT_COUNTRY] ON 

INSERT [dbo].[ORT_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_CODE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (1, N'Canada', N'CA', CAST(N'2022-12-07T20:40:40.6900000' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:40:40.6900000' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_CODE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (2, N'United States', N'US', CAST(N'2022-12-07T20:40:49.8633333' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:40:49.8633333' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_CODE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (3, N'Mexico', N'MX', CAST(N'2022-12-07T20:40:57.0633333' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:40:57.0633333' AS DateTime2), N'dbo')
SET IDENTITY_INSERT [dbo].[ORT_COUNTRY] OFF
GO
SET IDENTITY_INSERT [dbo].[ORT_POWER_UNIT_TYPE] ON 

INSERT [dbo].[ORT_POWER_UNIT_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (1, N'Buses/Crummies', N'A motor vehicle used to transport persons, when such transportation is not undertaken for compensation or gain.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_1.pdf', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_POWER_UNIT_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (2, N'Concrete Pumper Trucks', N'Concrete Pumper Trucks are used to pump concrete from a cement mixer truck to where the concrete is actually needed. They travel on the highway at their equipped weight with no load.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_5.pdf', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_POWER_UNIT_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (3, N'Cranes, Rubber-Tired Loaders, Firetrucks - All Terrain', N'Industrial vehicles not designed to transport load on highways.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_5.pdf', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.1566667' AS DateTime2), N'dbo')
SET IDENTITY_INSERT [dbo].[ORT_POWER_UNIT_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[ORT_PROVINCE_STATE] ON 

INSERT [dbo].[ORT_PROVINCE_STATE] ([PROVINCE_STATE_ID], [PROVINCE_STATE_NAME], [PROVINCE_STATE_CODE], [COUNTRY_ID], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (1, N'Alabama', N'AL', 2, CAST(N'2022-12-07T20:53:53.2533333' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:53:53.2533333' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_PROVINCE_STATE] ([PROVINCE_STATE_ID], [PROVINCE_STATE_NAME], [PROVINCE_STATE_CODE], [COUNTRY_ID], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (2, N'Alaska', N'AK', 2, CAST(N'2022-12-07T20:53:53.2533333' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:53:53.2533333' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_PROVINCE_STATE] ([PROVINCE_STATE_ID], [PROVINCE_STATE_NAME], [PROVINCE_STATE_CODE], [COUNTRY_ID], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (3, N'Arizona', N'AZ', 2, CAST(N'2022-12-07T20:53:53.2566667' AS DateTime2), N'dbo', CAST(N'2022-12-07T20:53:53.2566667' AS DateTime2), N'dbo')
SET IDENTITY_INSERT [dbo].[ORT_PROVINCE_STATE] OFF
GO
SET IDENTITY_INSERT [dbo].[ORT_TRAILER_TYPE] ON 

INSERT [dbo].[ORT_TRAILER_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (1, N'Boosters', N'A Booster is similar to a jeep, but it is used behind a load.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_5.pdf', CAST(N'2022-12-07T21:23:23.5866667' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.5866667' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_TRAILER_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (2, N'Dollies', N'See Commercial Transport Procedures Manual chapter 5.3 for details.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_5.pdf', CAST(N'2022-12-07T21:23:23.5866667' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.5866667' AS DateTime2), N'dbo')
INSERT [dbo].[ORT_TRAILER_TYPE] ([TYPE_ID], [TYPE], [DESCRIPTION], [POLICY_REFERENCE], [DB_CREATE_TIMESTAMP], [DB_CREATE_USERID], [DB_LAST_UPDATE_TIMESTAMP], [DB_LAST_UPDATE_USERID]) VALUES (3, N'Expando Semi-Trailers', N'For use with Oil Field Bed Truck as power unit only. For other applications use Semi Trailer - Highboy or step deck, lowbed, expandos.', N'http://www.th.gov.bc.ca/cvse/ctpm/Chapter_5.pdf', CAST(N'2022-12-07T21:23:23.5900000' AS DateTime2), N'dbo', CAST(N'2022-12-07T21:23:23.5900000' AS DateTime2), N'dbo')
SET IDENTITY_INSERT [dbo].[ORT_TRAILER_TYPE] OFF
GO
ALTER TABLE [dbo].[ORT_COUNTRY] ADD  CONSTRAINT [DF_ORT_COUNTRY_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_COUNTRY] ADD  CONSTRAINT [DF_ORT_COUNTRY_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_COUNTRY] ADD  CONSTRAINT [DF_ORT_COUNTRY_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_COUNTRY] ADD  CONSTRAINT [DF_ORT_COUNTRY_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT_TYPE] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_TYPE_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT_TYPE] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_TYPE_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT_TYPE] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_TYPE_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT_TYPE] ADD  CONSTRAINT [DF_ORT_POWER_UNIT_TYPE_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE] ADD  CONSTRAINT [DF_ORT_PROVINCE_STATE_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE] ADD  CONSTRAINT [DF_ORT_PROVINCE_STATE_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE] ADD  CONSTRAINT [DF_ORT_PROVINCE_STATE_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE] ADD  CONSTRAINT [DF_ORT_PROVINCE_STATE_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER] ADD  CONSTRAINT [DF_ORT_TRAILER_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER] ADD  CONSTRAINT [DF_ORT_TRAILER_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER] ADD  CONSTRAINT [DF_ORT_TRAILER_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER] ADD  CONSTRAINT [DF_ORT_TRAILER_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_SUBTYPE_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_SUBTYPE_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_SUBTYPE_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_SUBTYPE_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER_TYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_TYPE_DB_CREATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_CREATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER_TYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_TYPE_DB_CREATE_USERID]  DEFAULT (user_name()) FOR [DB_CREATE_USERID]
GO
ALTER TABLE [dbo].[ORT_TRAILER_TYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_TYPE_DB_LAST_UPDATE_TIMESTAMP]  DEFAULT (getdate()) FOR [DB_LAST_UPDATE_TIMESTAMP]
GO
ALTER TABLE [dbo].[ORT_TRAILER_TYPE] ADD  CONSTRAINT [DF_ORT_TRAILER_TYPE_DB_LAST_UPDATE_USERID]  DEFAULT (user_name()) FOR [DB_LAST_UPDATE_USERID]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_ORT_POWER_UNIT_POWER_UNIT_TYPE] FOREIGN KEY([POWER_UNIT_TYPE])
REFERENCES [dbo].[ORT_POWER_UNIT_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] CHECK CONSTRAINT [FK_ORT_POWER_UNIT_POWER_UNIT_TYPE]
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT]  WITH CHECK ADD  CONSTRAINT [FK_ORT_POWER_UNIT_PROVINCE_STATE] FOREIGN KEY([PROVINCE_STATE_REGISTERED])
REFERENCES [dbo].[ORT_PROVINCE_STATE] ([PROVINCE_STATE_ID])
GO
ALTER TABLE [dbo].[ORT_POWER_UNIT] CHECK CONSTRAINT [FK_ORT_POWER_UNIT_PROVINCE_STATE]
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE]  WITH CHECK ADD  CONSTRAINT [FK_ORT_PROVINCE_STATE_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[ORT_COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[ORT_PROVINCE_STATE] CHECK CONSTRAINT [FK_ORT_PROVINCE_STATE_COUNTRY]
GO
ALTER TABLE [dbo].[ORT_TRAILER]  WITH CHECK ADD  CONSTRAINT [FK_ORT_TRAILER_PROVINCE_STATE] FOREIGN KEY([PROVINCE_STATE_REGISTERED])
REFERENCES [dbo].[ORT_PROVINCE_STATE] ([PROVINCE_STATE_ID])
GO
ALTER TABLE [dbo].[ORT_TRAILER] CHECK CONSTRAINT [FK_ORT_TRAILER_PROVINCE_STATE]
GO
ALTER TABLE [dbo].[ORT_TRAILER]  WITH CHECK ADD  CONSTRAINT [FK_ORT_TRAILER_TRAILER_SUBTYPE] FOREIGN KEY([TRAILER_SUBTYPE])
REFERENCES [dbo].[ORT_TRAILER_SUBTYPE] ([SUBTYPE_ID])
GO
ALTER TABLE [dbo].[ORT_TRAILER] CHECK CONSTRAINT [FK_ORT_TRAILER_TRAILER_SUBTYPE]
GO
ALTER TABLE [dbo].[ORT_TRAILER]  WITH CHECK ADD  CONSTRAINT [FK_ORT_TRAILER_TRAILER_TYPE] FOREIGN KEY([TRAILER_TYPE])
REFERENCES [dbo].[ORT_TRAILER_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[ORT_TRAILER] CHECK CONSTRAINT [FK_ORT_TRAILER_TRAILER_TYPE]
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE]  WITH CHECK ADD  CONSTRAINT [FK_ORT_TRAILER_SUBTYPE_TRAILER_TYPE] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[ORT_TRAILER_TYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[ORT_TRAILER_SUBTYPE] CHECK CONSTRAINT [FK_ORT_TRAILER_SUBTYPE_TRAILER_TYPE]
GO
USE [master]
GO
