@use "../../../../common/components/dashboard/Dashboard";
@import "../../../../themes/orbcStyles";

@include Dashboard.layout-box-style(".shopping-cart-page");

.shopping-cart-page {
  display: flex;
  flex-direction: row;
  background-color: $white;
  padding-bottom: 9rem;

  & &__left-container {
    display: flex;
    flex-direction: column;
    width: 66.6%;
    padding-top: 1.5rem;
    margin-right: 80px;
  }

  & &__info {
    border-bottom: 1px solid $bc-border-grey;
    margin-bottom: 1.5rem;
    padding: 0 0 1.5rem 0;

    .info {
      &__body {
        color: $bc-black;
        font-size: 1rem;
        margin: 0;
      }
    }
  }

  & &__right-container {
    width: 33.3%;
    background-color: $bc-white;
    display: flex;
    flex-direction: column;
    
    padding-top: 1.5rem;

    .choose-payment-method {
      margin-bottom: 2.5rem;
    }

    .payment-failed-banner {
      margin: 0;
      margin-bottom: 1.5rem;
    }
  }

  & &__contact {
    color: $bc-black;
    margin-top: 2.5rem;
    margin-bottom: 10.75rem;

    .pay-contact {
      font-weight: 700;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
