@import "../../../../../../themes/orbcStyles";

.loa-list {
  &#{&} {
    border: 1px solid $bc-border-grey;
    box-shadow: none;
  }

  & &__row-actions {
    display: flex;
    justify-content: flex-end;
  }

  & &__delete-btn {
    color: $bc-black;
  }

  & &__link {
    color: $bc-text-links-blue;
  }
}
