@import "../../../../../themes/orbcStyles";

.shopping-cart-item {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid $bc-border-grey;

  &__info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__label {
    font-weight: bold;
    color: $bc-black;
    margin-right: 0.25rem;
    font-size: 1rem;

    &--application-number {
      font-size: 1.25rem;
    }
  }

  &__info {
    font-size: 1rem;
    color: $bc-black;

    &#{&}--application-number {
      font-size: 1.25rem;
    }
  }

  &__details-container {
    display: flex;
    width: 100%;
  }

  &__details-group {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    margin-right: 0.5rem;
  }

  &__detail {
    margin-top: 1rem;
  }

  & &__checkbox {
    padding: 0;
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
