@use "../../../../themes/orbcStyles";

.add-user {
  padding: 2.5rem 0;
  border-bottom: 1px solid orbcStyles.$bc-border-grey;
  
  label.Mui-error {
    color: orbcStyles.$bc-black;
  }

  & &__form {
    display: flex;
    align-items: flex-start;
    max-width: 507px;
  }
  
  & &__input {
    flex-grow: 1;
  }

  & &__button {
    position: relative;
    top: 47px;
    min-width: 87px;
    box-shadow: none;
    border: 2px solid orbcStyles.$bc-background-light-grey;
    padding: .75rem 1rem;
    line-height: normal;
    margin-left: 1.5rem;

    &:hover {
      box-shadow: none;
      background-color: orbcStyles.$bc-background-light-grey;
      border-color: orbcStyles.$bc-text-box-border-grey;
    }
  }
}