@use "../../../../common/components/form/CustomFormComponents";
@use "../../../../themes/orbcStyles";

@include CustomFormComponents.custom-form-component(".select-credit-limit__input");

.select-credit-limit {
  &#{&} {
    font-size: 1rem;
    color: orbcStyles.$bc-black;
    margin: 0;
  }

  & &__label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & &__input {
    background-color: orbcStyles.$white;
    width: 15.25rem;
    margin-bottom: 0;
  }

  & &__menu {
    width: calc(100% - 10px);
  }
}
