@use "../../../../themes/orbcStyles";

.status-chip {
  border-radius: .25rem;
  font-size: 0.9rem;
  padding: .25rem .75rem;
  text-transform: capitalize;

  &--on-hold {
    background-color: orbcStyles.$bc-messages-gold-background;
    color: orbcStyles.$bc-messages-gold-text;
  }

  &--closed {
    background-color: orbcStyles.$bc-messages-red-background;
    color: orbcStyles.$bc-messages-red-text;
  }

  &--suspended {
    background-color: orbcStyles.$bc-messages-red-text;
    color: orbcStyles.$white;
  }
}