@use "../../../../themes/orbcStyles";

.user-table {
  padding-top: 2.5rem;
  & &__paper {
    overflow: visible;
    box-shadow: none;
  }
  & &__container {
    border: 1px solid orbcStyles.$bc-border-grey;
    box-sizing: border-box;
  }

  & &__toolbar {
    padding-bottom: .25rem;
    overflow: visible;
    .MuiBox-root {
      padding: 0;
      width: 100%;

      &:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  
  & &__head {
    tr {
      box-shadow: none;
    }
  }

  & &__heading {
    padding: 0;
  }
 
  & &__button {
    font-size: 1rem;
    border: 2px solid;
    
    &:focus {
      outline-offset: 2px;
    }

    &--remove {
      background-color: orbcStyles.$white;
      border-color: orbcStyles.$bc-messages-red-background;
      color: orbcStyles.$bc-red;

      &:hover {
        background-color: orbcStyles.$bc-messages-red-background;
      }
     
    }
    &:disabled {
      background-color: orbcStyles.$white;
      border-color: orbcStyles.$disabled-colour;
      color: orbcStyles.$disabled-colour;
    }
  }
  
  & &__row {
    &--selected {
      background-color: rgba(orbcStyles.$bc-messages-blue-background, 0.5);
    }
  }

  & &__cell {
    vertical-align: top;
    padding: 1rem;
    
    // hide extra blank column generated by MRT
    &:last-child {
      display: none;
    }
  }

  
  .cell {
    &__text {
      &--bold {
        font-weight: bold;
      }
    }
  }
}


