@import "../../../../../../themes/orbcStyles";

.loa-designate-vehicles {
  color: $bc-black;

  &__header {
    font-weight: bold;
    font-size: 1.25rem;
  }

  &__info-banner {
    margin: 1.5rem 0;
  }

  &__info-message {
    font-weight: normal;
  }
}
