.table-container {
  //padding: 0px 60px;
  overflow: hidden;
  background-color: white;
  height: calc(100vh - 306px);
}

@media screen and (max-width: 768px) {
  .table-container {
    //padding: 0px 60px;
    overflow: hidden;
    background-color: white;
    height: calc(100vh - 267px);
  }
}
