@import "../../../../themes/orbcStyles.scss";

.dash-downarrow {
  margin-left: 1rem;
}

.slide-pane__header {
  background: $bc-black 0% 0% no-repeat padding-box;
  color: $white;
}

.slide-pane__header .slide-pane__title,
.slide-pane__header .slide-pane__close {
  font-weight: bold;
}

.slide-pane__content {
  padding: 0;
}
