@import "../../../../themes/orbcStyles";

.refund-page {
  padding: 0 8.551vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .button {
    align-self: flex-start;
    font-size: 1rem;
    padding: .5rem 2rem;
    box-shadow: none;
    min-width: fit-content;

    &:hover, &:focus {
      box-shadow: none; 
    }
  }
}

@media (width < 768px) {
  .refund-page {
    padding: 0 5.5rem;
  }
}

@media (width < 420px) {
  .refund-page {
    padding: 0 1rem;
  }
}
