@import "../../../../themes/orbcStyles";

.refund-page {
  padding: 0 8.551vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  &__header {
    color: $bc-black;
    margin-top: 0;
    &--main {
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid $bc-border-grey;
    }
  }

  &__section {
    padding: 2.5rem 0;
    border-bottom: 1px solid $bc-border-grey;

    &--actions {
      border-bottom: none;
      display: flex;
      gap: 2.5rem;
    }
  }

  &__info {
    color: $bc-black;

  }

  & &__button {
    align-self: flex-start;
    font-size: 1rem;
    padding: .5rem 2rem;
    box-shadow: none;
    min-width: fit-content;

    &:hover, &:focus {
      box-shadow: none; 
    }

    &--cancel {
      border: 2px solid $bc-background-light-grey;
      &:hover, &:focus {
        background-color: $bc-background-light-grey;
        border-color: $bc-text-box-border-grey;
      }
    }
  }
}

@media (width < 768px) {
  .refund-page {
    padding: 0 5.5rem;
  }
}

@media (width < 420px) {
  .refund-page {
    padding: 0 1rem;
  }
}
