@import "../../../../themes/orbcStyles";

.custom-select {
  &#{&}--disabled {
    .custom-select {
      &__input-container {
        z-index: 1;
        color: $bc-black;
        -webkit-text-fill-color: $bc-black;
      }
    }

    svg {
      z-index: 1;
    }

    fieldset {
      background-color: $bc-background-light-grey;
      border: 2px solid $bc-text-box-border-grey;
    }
  }
}
