@import "../../../../themes/orbcStyles";

.number-input {
  & &__label {
    color: $bc-black;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
  }

  &#{&}--error &__label {
    color: $bc-black;
  }

  &#{&}--error &__input {
    &:hover {
      fieldset {
        border: 2px solid $bc-red;   
      }
    }

    fieldset {
      border: 2px solid $bc-red;   
    }
  }

  & &__input {
    fieldset {
      border: 2px solid $bc-text-box-border-grey;   
    }

    &:focus-within {
      fieldset {
        border: 2px solid $focus-blue;   
      }
    }

    &--disabled {
      z-index: 1;
      color: $bc-black;
      -webkit-text-fill-color: $bc-black;
      fieldset {
        background-color: $bc-background-light-grey;
        border: 2px solid $bc-text-box-border-grey;
      }
    }

  }
}
