@font-face {
    src: url('../fonts/BCSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-BoldItalic.woff') format("woff");
    font-weight: 700;
    font-style: italic;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-Italic.woff') format("woff");
    font-weight: 400;
    font-style: italic;
    font-family: 'BCSans';
    font-display: swap;
}

@font-face {
    src: url('../fonts/BCSans-Bold.woff') format("woff");
    font-weight: 700;
    font-family: 'BCSans';
    font-display: swap;
}


:root {

    /* Colors: */
    --focus-blue: #0000FF;
    --formsflow-light-gold: #F9F1C6;
    --bc-messages-blue-background: #D9EAF7;
    --bc-black: #313132;
    --bc-gold: #FCBA19;
    --bc-text-box-border-grey: #B2B5B6;
    --white: #FFFFFF;
    --bc-primary-blue: #003366;
    --bc-secondary-blue: #133262;
    --bc-border-grey: #DBDCDC;
    --bc-text-links-blue: #1A5A96;
    --bc-background-light-grey: #F2F2F2;
    --bc-background-blue-grey: #F4F5F8;
    --bc-background-blue: #455A86;
    
    /* Font/text values */
    --unnamed-font-family-bc-sans: 'BCSans';
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-40: 40px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing--0-4: -0.4px;
    --unnamed-character-spacing--0-48: -0.48px;
    --unnamed-character-spacing--0-8: -0.8px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-36: 36px;
    --unnamed-line-spacing-52: 52px;

    /* Spacing */
    --padding-4: 4px;
    --padding-8: 8px;
    --padding-16: 16px;
    --padding-24: 24px;
}
    
    /* Character Styles */
h1 {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-52);
    letter-spacing: var(--unnamed-character-spacing--0-8);
    color: var(--white);
}

h2 {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-52);
    letter-spacing: var(--unnamed-character-spacing--0-8);
    color: var(--white);
}
    
p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 
    var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-bc-sans);
    margin-bottom: 16px;
}

p:last-child {
    margin-bottom: 0;
}

.titleText {
    font-size: var(--unnamed-font-size-20 );
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
}

h5 {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing--0-4);
    color: var(--bc-black);
    margin-block-start : 0;
    margin-block-end : 16px;
}

h4 {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing--0-4);
    color: var(--bc-black);
    margin-block-start : 0;
    margin-block-end : 16px;
}

h3 {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing--0-48);
    color: var(--bc-black);
    margin-top: 0;
    margin-bottom: 16px;
}
    
.subhead {
    font-family: var(--unnamed-font-family-bc-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--bc-black);
}

/* Utility Classes*/
.margin-none {
    margin: 0;
}

.border-none {
    border-width: 0px !important;
}

body {
    margin: 0;
    background-color: #F1F1F1;
    padding-bottom: 80px;
}

.container {
    max-width: calc(1470px + (16px * 2));
    margin: 0 auto;
    padding: 0 var(--padding-16);
}

.homeheader {
    opacity: 1;
    background-color: var(--bc-secondary-blue);
    padding: var(--padding-8) 0;
    border-bottom: 4px solid var(--bc-gold);
}

.homeHeaderLogo {
    width: 115px;
    transform: translateY(-8px);
}

@media screen and (min-width: 768px) {
    .homeHeaderLogo {
        width: 208px;
    }
}

.homeBClogo {
    top: 0;
    left: 0;
    width: 100%;
    height: 3444px;
    background: transparent url('../img/Home - Province of British Columbia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.heroImage {
    /* display: block; */
}

.heroImage img {
    width: 100vw;
    height: 580px;
    object-fit: cover;
}

/* .homeTruckImage {
    height: 580px;
    background: transparent url('../img/20061018c_loaded-logging-truck-on-highway-near-cache-creek_002245.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
} */

.homeTruckImageFade {
    position: absolute;
    top: 458px;
    width: 100%;
    height: 340px;
    background: transparent linear-gradient(180deg, #F1F1F100 0%, #F1F1F1 50%) 0% 0% no-repeat padding-box;
}

.verticalContainer {
    position: absolute;
    padding-top: 90px ;
    top: 96px;
    width: 100%;
}

.homeTitleBox {
    max-width: 680px;
    background: #1F3564 0% 0% no-repeat padding-box;
    opacity: 0.8;
    color: var(--white);
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 
    var(--unnamed-font-size-20)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-bc-sans);
    padding: var(--padding-24);
    margin-bottom: 128px;
    margin-left: 16px;
}

.homeTitleBox h1 {
    margin: 0;
    font-size: var(--unnamed-font-size-28);
    word-break: break-all;
}

@media screen and (min-width: 576px) {
    .homeTitleBox h1 {
        font-size: var(--unnamed-font-size-36)
    }
}

.homeTitleBox .titleText {
    margin-top: 8px;
    margin-bottom: 56px;
}

.homeContent2Col {
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 1100px) {
 .homeContent2Col {
    flex-direction: row;
    gap: 20px;
 }   
}

.homeContentBox {
    background-color: #FFFFFF;
    margin-bottom: 24px;
}



.homeContentBoxHeader {
    background: var(--bc-background-blue);
    padding: var(--padding-4) var(--padding-16);
}

.homeContentBoxHeader h2 {
    margin: 0;
}

.homeContentBoxContent {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding : var(--padding-24) var(--padding-16);
}

.homeContentBoxContent p {
    margin-top: 0;
}


.homeContentBoxContent2Col {
    border-top : 1px solid var(--bc-border-grey);
    display: flex;
    flex-direction: column;
}

.homeContentBoxContent2Col .homeBorderedContentCol:not(:last-child) {
    border-bottom:  1px solid var(--bc-border-grey);
}

@media screen and (min-width: 576px) {
    .homeContentBoxContent2Col {
        flex-direction: row;
    }

    .homeContentBoxContent2Col .homeBorderedContentCol {
        width: 50%;
    }

    .homeContentBoxContent2Col .homeBorderedContentCol:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--bc-border-grey);
    } 
}

.homeBorderedContentCol {
    padding: var(--padding-16) var(--padding-16) var(--padding-24);
}

.homeContentCol {
   width: 100%;
}

.homeContentCol1 {
    width: 100%;
}


.homeContentCol2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1100px) {
    .homeContentCol1 {
        width: 75%;
    }
    .homeContentCol2 {
        width: 25%;
    }
    
    .homeContentCol2 {
        flex-direction: row;
        gap: 20px;
    }

    .homeContentCol2 > * {
        width: 100%;
    }  
}

@media screen and (min-width: 1100px) {
    .homeContentCol2 {
        flex-direction: column;
    }
}

.btn {
    box-sizing: border-box;
    padding: 10px 32px;
    text-decoration: none;
    display: block;
    text-align: center;
    opacity: 1;
    border-radius: 4px;
    font-family: var(--unnamed-font-family-bc-sans);
    border: 4px solid transparent;
    width: fit-content;
}

.btnSm {
    padding: 10px 16px
}

.btnBlue {
    background: var(--bc-primary-blue) 0% 0% no-repeat;
    color : white;
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
}

.btnBlue:hover, .btnBlue:focus {
    background-color: var(--bc-text-links-blue);
}

.btnWhite {
    background: white;
    border: 2px solid var(--bc-primary-blue);
    color: var(--bc-primary-blue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
}

.btnWhite:hover {
    background: var(--bc-text-links-blue);
    border-color: var(--bc-text-links-blue);
    color: var(--white);
}

.btnGrey {
    background: var(--bc-background-light-grey) 0% 0% no-repeat;
    color: black;
}

.btnGrey:hover, .btnGrey:focus {
    border-color: var(--bc-border-grey);
}


.link {
    color : var(--bc-text-links-blue);
}

.link:hover, .link:focus {
    color: var(--focus-blue);
}

.homeContentBoxContent3Col {
    border-top : 1px solid var(--bc-border-grey);
    border-bottom : 1px solid var(--bc-border-grey);
    display: flex;
    flex-direction: column;    
}

.homeContentBoxContent3Col .homeBorderedContentCol:not(:last-child) {
    border-bottom:  1px solid var(--bc-border-grey);
}

@media screen and (min-width: 768px) {
    .homeContentBoxContent3Col {
        flex-direction: row;
    }

    .homeContentBoxContent3Col .homeBorderedContentCol:not(:last-child) {
        border-bottom: none;
        border-right:  1px solid var(--bc-border-grey);
    }
}

#permitCentre .homeContentBoxContent2Col  {
    gap: 20px;
}


footer {
    margin-top: 60px;
    font-family: var(--unnamed-font-family-bc-sans);
    border-top: 4px solid var(--bc-gold);
    color: #fff;
    width: 100%;
    padding: var(--padding-24) 0;
    background-color: var(--bc-secondary-blue);
}

footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    margin: 0;
    color : white;
    list-style: none;
    align-items: center;
    height: 100%;
    padding: 0;
}

footer ul li {
    display: list-item;
}

footer ul li a {
    text-decoration: none;
    color : white;
}

footer ul li a:hover, footer ul li a:focus {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    footer ul {
        flex-direction: row;
        row-gap: 0;
    } 

    footer ul li:not(:first-child) {
        padding-left: var(--padding-16);
    }
    
    footer ul li:not(:last-child) {
        padding-right: var(--padding-16);
        border-right: 1px solid #4b5e7e;
    }
}
