@import "../../../themes/orbcStyles";

.error-page {
  background-color: $white;
  padding: 1.5rem;
  padding-bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 179px);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2em 0;
    max-width: 640px;
  }

  &__img {
    width: 178px;
    height: 160px;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $bc-black;
    margin-bottom: 2.5rem;
  }

  &__msg {
    width: inherit;
    color: $bc-black;
    text-align: center;
    padding: 2.5rem 0;
    border-top: 1px solid $bc-border-grey;
    border-bottom: 1px solid $bc-border-grey;
  }
}
