@import "../../../themes/orbcStyles";

.custom-form-control {
  .custom-form-components & {
    width: 100%;
  }

  & &__label {
    color: $bc-black;
    font-weight: bold;
    margin-bottom: 0.5rem;

    .custom-form-components &--error {
      color: $bc-black;
    }
  }  
}

@mixin custom-form-component($component) {
  #{$component} {
    &#{&}--disabled {
      #{$component} {
        &__input-container {
          z-index: 1;
          color: $bc-black;
          -webkit-text-fill-color: $bc-black;
        }
      }
  
      svg {
        z-index: 1;
      }
  
      fieldset {
        background-color: $bc-background-light-grey;
        border: 2px solid $bc-text-box-border-grey;
      }
    }

    &#{&}.Mui-focused, &#{&} .Mui-focused {
      fieldset {
        border: 2px solid $focus-blue;
      }
    }

    &#{&}--invalid.Mui-focused,
    &#{&}--invalid .Mui-focused,
    &#{&}--invalid,
    .Mui-error {
      fieldset {
        border: 2px solid $bc-red;
      }
    }

    fieldset {
      border: 2px solid $bc-text-box-border-grey;   
    }
  }
}
