@use "../../../../../../common/components/form/CustomFormComponents";
@import "../../../../../../themes/orbcStyles";

@include CustomFormComponents.custom-form-component(".select-permit-type__input");

.select-permit-type {
  &#{&} {
    font-size: 1rem;
    color: $bc-black;
    margin: 0;
  }

  & &__label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & &__input {
    background-color: $white;
    width: 15.25rem;
    margin-bottom: 0;
  }

  & &__menu {
    width: calc(100% - 10px);
  }
}
