@import "../../../../../../themes/orbcStyles.scss";

$select-width: 347px;

.start-application-action {
  & &__label {
    font-weight: bold;
  }
  
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: .5rem;
  }

  & &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: .5rem .75rem;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid;
    border-color: $bc-text-box-border-grey;
    color: $bc-black;
    margin-bottom: 0;
    width: $select-width;

    &:hover {
      background-color: $white;
    }

    &:active, &:focus {
      border-color: $border-blue;
      outline: none;
    }


    &--error {
      border-color: $bc-red; 
    }

    &--open {
      border-radius: 4px 4px 0px 0px;
      border-bottom: none;
      border-color: $border-blue;
      // prevent input text shifting when menu is open
      padding-top: 6px;
    }

  }
   &__input-text {
    text-align: left;
    width: 40ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__input-tooltip {
    max-width: fit-content;
  }

  &__menu-list {
    &.MuiList-root {
      padding: 0;

      & > * {
        border-top: 1px solid $bc-border-grey;
      }
    }
  }

  &__menu-item:not(:last-child) {
    &.MuiButtonBase-root {
      border-bottom: 1px solid $bc-border-grey;
    }
  }

  &__menu-container {
    &.MuiPaper-root {
      border-radius: 0;
      box-shadow: 0 0.5rem 0.5rem -0.2rem #00000029;
      // prevent menu from being wider than the input element itself
      width: calc($select-width - 4px);
      transition-duration: 0ms;
    }

    &--open {
      &.MuiPaper-root {
        border: 2px solid;
        border-top: none;
        border-radius: 0px 0px 2px 2px;
        border-color: $border-blue;
      }
    }
  }

  // NESTED MENUS

  &__nested-menu-list {
    &.MuiList-root.MuiMenu-list {
      padding: 0;
      max-height: none;
    }
  }
  
  
  &__nested-menu-item:not(:last-child) {
    &.MuiButtonBase-root {
      border-bottom: 1px solid $bc-border-grey;
    }
  }
  
  &__nested-menu-container {
    &.MuiPaper-root {
      border-radius: 4px;
      box-shadow: $bc-shadow;
      width: calc($select-width - 4px);
      transition-duration: 0ms;
      border: 2px solid;
      border-color: $border-blue;
      margin-left: 8px;
    }
  }

  // SUBMIT BUTTON

  & &__btn {
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: bold;
  }

  &__error-msg {
    position: absolute;
    color: $bc-red
  }
}

@media (width < 600px) {
  .start-application-action  {
    &__control {
      flex-direction: column;
    }

    & &__input {
      width: 100%;
    }

    & &__btn {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
