@import "../../../../../../themes/orbcStyles.scss";

.tros-form-actions {
  position: fixed;
  bottom: 46px;
  left: 0;
  right: 0;
  background-color: $bc-white;
  display: flex;
  align-items: center;
  padding: 2rem 8.551vw;
  justify-content: space-between;
  border-top: 1px solid $bc-text-box-border-grey;

  & &__section {
    display: flex;
    align-items: center;

    .scroll-btn {
      position: fixed;
      bottom: 12.5rem;
      right: 1.25rem;
    }
  }

  & &__btn {
    position: relative;

    &--save {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    &--continue {
      margin-left: 1.5em;
      margin-top: 0;
    }
  }
}

@media (width < 768px) {
  .tros-form-actions {
    padding: 2rem 5.5rem;
  }
}

@media (width < 576px) {
  .tros-form-actions {
    flex-direction: column;
    align-items: center;

    & &__section {
      flex-direction: column;
      align-items: center;

      .scroll-btn {
        position: fixed;
        bottom: 20.5rem;
        right: 1.25rem;
      }

      &--main {
        margin-top: 1em;
      }
    }

    & &__btn {
      &--continue {
        margin-left: 0;
        margin-top: 1em;
      }
    }
  }
}
