.horizontal-line {
  width: 480px;
  height: 0px;
  border: 1px solid var(--bc-border-grey);
  border: 1px solid #dbdcdc;
  opacity: 1;
}

.padding-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}
