@import "../../../themes/orbcStyles";

.onroutebc-table-row-actions {
  display: flex;
  justify-content: flex-end;

  & &__button {
    background-color: $white;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;

    &--disabled {
      color: $disabled-colour;
    }

    &:hover {
      background-color: $bc-background-light-grey;
      cursor: pointer;
    }

    &:focus {
      border: 2px solid $focus-blue;
    }

    &--pressed {
      border: 2px solid $bc-black;
      background-color: $bc-background-light-grey;
    }
  }

  &__popper.popper > .tooltip.tooltip--bottom {
    font-size: 1rem;
    color: $white;
    background-color: $bc-black;
    font-weight: normal;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
  }

  &__icon {
    font-size: 1.5rem;
  }
}
