@import "../../../themes/orbcStyles";

.table-container {
  overflow: hidden;
  background-color: $white;
  padding-bottom: 6.25rem;
  margin-top: 1.5rem;
  
  .column-link {
    color: $bc-text-links-blue;
  }
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: hidden;
    background-color: $white;
  }
}
