@use "../../../../../../themes/orbcStyles";

.unfinished-amend-modal {
  & &__paper {
    max-width: 42.6875rem;
  }

  &__header {
    background-color: orbcStyles.$bc-background-light-grey;
    padding: 2rem 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    color: orbcStyles.$bc-black;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__body {
    padding: 1.5rem;
  }

  &__permit-number {
    font-size: 1.25rem;
    font-weight: bold;
    color: orbcStyles.$bc-black;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1.5rem;
  }

  &__info {
    font-size: 1rem;
    color: orbcStyles.$bc-black;
    margin-block-start: 0;
    margin-block-end: 0;
    border-top: 1px solid orbcStyles.$bc-border-grey;
    padding-top: 1.5rem;

    .staff-name {
      font-weight: bold;
      margin-right: 0.25rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  & &__btn {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    &--cancel {
      margin-right: 1.5rem;
      color: orbcStyles.$bc-black;
      padding: 0.75rem 1rem;
      background-color: orbcStyles.$bc-background-light-grey;
      box-shadow: none;

      &:hover {
        border: 2px solid orbcStyles.$bc-text-box-border-grey;
        background-color: orbcStyles.$bc-background-light-grey;
        cursor: pointer;
        box-shadow: none;
      }
    }

    &--new {
      padding-left: 2rem;
      padding-right: 2rem;
      font-weight: bold;
      border-color: orbcStyles.$bc-primary-blue;
      color: orbcStyles.$bc-primary-blue;
      background-color: orbcStyles.$white;
      margin-right: 1.5rem;

      &:hover {
        background-color: orbcStyles.$bc-text-links-blue;
        color: orbcStyles.$white;
      }
    }

    &--continue {
      font-weight: bold;
    }
  }
}
