@import "../../../../../../themes/orbcStyles";

.permit-form {
  &#{&} {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
    background-color: $bc-white;
  }

  &__rejection-banner, .rejection-banner {
    margin-bottom: 1.5rem;
    
    &__message {
      display: flex;
    }

    &__link {
      color: $bc-text-links-blue
    }
  }
}

@media (width < 576px) {
  .permit-form {
    &#{&} {
      padding-bottom: 18rem;
    }
  }
}
