@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".permit-loa-section");
@include orbcStyles.permit-left-box-style(".permit-loa-section__header");
@include orbcStyles.permit-right-box-style(".permit-loa-section__body");

.permit-loa-section {
  .loa-title {
    color: orbcStyles.$bc-black;
    display: flex;

    &__title {
      font-weight: bold;
      font-size: 1.25rem;

      &--optional {
        font-weight: normal;
        font-size: 1.25rem;
        margin-left: 0.25rem;
      }
    }
  }

  .loa-info {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: calc(100% - 3rem);

    &__message {
      font-size: 1rem;
      font-weight: normal;
    }
  }
}
