@use "../../../../../../themes/orbcStyles";
@include orbcStyles.layout-box-style(".permit-form__rejection-banner");

.permit-form {
  &#{&} {
    padding-top: 1.5rem;
    padding-bottom: 10rem;
    background-color: orbcStyles.$bc-white;
  }

  &__rejection-banner, .rejection-banner {
    margin-bottom: 1.5rem;
    
    &__message {
      display: flex;
    }

    &__link {
      color: orbcStyles.$bc-text-links-blue
    }
  }
}

@media (width < 576px) {
  .permit-form {
    &#{&} {
      padding-bottom: 18rem;
    }
  }
}
