@use "../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".permit-details");
@include orbcStyles.permit-left-box-style(".permit-details__header");
@include orbcStyles.permit-right-box-style(".permit-details__body");

.permit-details {
  & &__date-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30.625rem;
    
    .custom-form-control, .custom-date-picker__form-control {
      margin: 0;
      width: 100%;
    }
  }

  & &__input {
    &--start-date {
      max-width: 16.125rem;
    }

    &--duration {
      max-width: 12rem;
      width: 100%;
    }
  }

  .permit-expiry-date-banner {
    margin-top: 1.5rem;
  }

  & &__conditions {
    margin-top: 1.5rem;
    
    .conditions-title {
      padding: 0;
    }

    .bc-gov-alertbanner {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .conditions-info {
      font-weight: normal;

      &__contact-methods {
        margin-top: 0.5rem;

        .contact-info {
          font-weight: bold;
        }
      }
    }
  }
}
