@use "../../../themes/orbcStyles";

.bc-gov-alertbanner {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;

  &--error {
    background-color: orbcStyles.$bc-messages-red-background;
    border-color: #ebccd1;
    color: orbcStyles.$bc-messages-red-text;

    a {
      color: #843534;
    }
  }

  &--warning {
    background-color: orbcStyles.$bc-messages-gold-background;
    border-color: #faebcc;
    color: orbcStyles.$bc-messages-gold-text;

    a {
      color: #66512c;
    }
  }

  &--info {
    background-color: orbcStyles.$bc-messages-blue-background;

    a {
      color: orbcStyles.$bc-text-links-blue;
    }
  }

  &--success {
    background-color: orbcStyles.$bc-messages-green-background;
    border-color: #d6e9c6;
    color: orbcStyles.$bc-messages-green-text;

    a {
      color: #2b542c;
    }
  }

  &__icon {
    float: left;
    font-size: larger;
    font-style: normal;
    line-height: 1;
    margin-right: 10px;
    position: relative;
    top: 3px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-size: 18px;
    margin: 0;
    padding-left: 35px;
  }
}
