@import "../../../themes/orbcStyles";

.permit-expiry-date-banner {
  background-color: $banner-grey;
  color: $bc-primary-blue;
  padding: 1.5rem;
  width: fit-content;
  width: -moz-fit-content; /* For Firefox, Firefox Android */

  & &__label {
    font-size: 0.875rem;
    margin: 0;
  }

  & &__expiry-date {
    margin: 0.25rem 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
