@import "../../../../../../../../themes/orbcStyles";

.axle-spacing-and-weights-table {
  .table-container {
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    align-items: start;
    gap: 1rem;
    overflow-x: auto;
  }
  
  .table {
    border-collapse: collapse;

    &__input {
      margin: 0;

      &--select {
        min-width: 144px;
        div.autocomplete__textfield {
          .MuiInputBase-root {
            padding-right: 0;
          }
        }
      }
    }

    &__input-container {
      margin: 0;
    }

    &__cell {
      padding: 1rem;
      text-align: center;
      border: 1px solid $bc-border-grey;
      min-width: 5rem;
      max-width: 5rem;
    }
  }

  .column, .row {
    &__label {
      background-color: $bc-background-light-grey;
      border: 1px solid $bc-border-grey;
      padding: 1rem;
      text-align: start;
      font-weight: bold;
      font-size: 1rem;
      color: $bc-black;
      box-sizing: border-box;
      width: 175px;

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        max-width: 106px;
      }

      &--fail {
        background-color: $bc-messages-red-background;
        color: $bc-red;
      }

      &--subtype {
        background-color: $bc-messages-blue-background;
        padding: 0.75rem 1rem;
      }
    }
    &__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: $bc-black;
      transform: translateY(3px);
    }
  }

  &__legend {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .button-container {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }
  
  .button {
    font-size: 1rem;
    padding: .5rem 1rem;
    box-shadow: none;
    min-width: fit-content;

    &:hover, &:focus {
      box-shadow: none; 
    }

    &--add {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-top: 1.5rem;
      color: $bc-black;
      border: 2px solid $bc-text-box-border-grey;

      &:hover, &:focus {
        background-color: $bc-background-light-grey;
        border: 2px solid $bc-text-box-border-grey;
      }
    }

    &--remove {
      border: 2px solid $bc-black;
      border-radius: 4px;

      &:hover, &:focus {
        background: $bc-border-grey;
      }
    }

    &--reset {
      color: $bc-black;
      background-color: $bc-background-light-grey;
      border: 2px solid $bc-background-light-grey;

      &:hover, &:focus {
        background-color: $bc-background-light-grey;
        border-color: $bc-text-box-border-grey;
      }
    }

    &--submit {
      padding: .5rem 2rem;
      font-weight: bold;
    }
  }

  .results {
    border-top: 1px solid $bc-border-grey;
    padding: 2.5rem 0;

    &__heading {
      color: $bc-black;
      margin: 0;
    }

    &__text {
      &--fail {
        color: $bc-red;
      }
      &--success {
        color: $bc-green;
      }
    }
  }
}