.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
  padding-left: 30px;
  width: 200px;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}