@import "../../../../themes/orbcStyles";

.brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.5rem 0 0;
  height: 100%;
  max-width: 60vw;
  overflow: hidden;
  color: $white;

  &__logo {
    img {
      height: 50px;
    }
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  &__company {
    border-left: 1px solid #9b9b9b;
    font-size: 1.25rem;
    padding-left: 1rem;
    margin-left: 1rem;
  }
}

@media (width < 1000px) {
  .brand {
    max-width: 44.95vw;

    &__company {
      display: none;
    }
  }
}

@media (width < 530px) {
  .brand {
    max-width: 100%;
    
    &__title {
      display: none;
    }
  }
}
