@import "../../../../themes/orbcStyles.scss";

.logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  padding: 0.5rem 0.75rem;
  border: none;
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;

  &:focus {
    outline: none;
  }
  
  &__icon {
    margin-right: 0.5rem;
    height: 1.5rem;
  }
}