@import "../../../../themes/orbcStyles";

.shopping-cart-button {
    background-color: transparent;
    color: white;
    height: 100%;
    padding: 0 1em;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  }
  
  @media (width < 360px) {
    .shopping-cart-button {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
  