@import "../../../../themes/orbcStyles.scss";

.user-section-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__avatar {
    margin-right: 0.5rem;
    height: 2rem;
  }

  &__username {
    color: $white;
  }
}