@use "../../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".vehicle-details");
@include orbcStyles.permit-left-box-style(".vehicle-details__header");
@include orbcStyles.permit-right-box-style(".vehicle-details__body");

.vehicle-details {
  border-bottom: none;

  & &__info {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5rem;
  }

  & &__info-banner {
    margin-left: 2.5rem;
    height: fit-content;
    height: -moz-fit-content; /* For Firefox, Firefox Android */

    .vehicle-inventory-info {
      font-weight: normal;
    }
  }

  & &__input-section {
    display: flex;
    flex-direction: column;

    .vehicle-selection {
      display: flex;
      gap: 2.5rem;

      .select-unit-or-plate {
        margin: 0;

        &__select {
          width: 180px;
        }
      }

      .select-vehicle-dropdown {
        margin: 0;

        &__autocomplete {
          width: 268px;
        }
      }
    }
  }

  & &__input {
    max-width: 30.625rem;

    .custom-form-control {
      margin: 1.5rem 0 0 0;
    }
  }

  .save-to-inventory {
    margin-top: 1.5rem;

    &__label {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }

    &__radio-btns {
      display: flex;
    }
  }
}

@media (width < 1370px) {
  .vehicle-details {
    & &__info {
      flex-direction: column;
    }

    & &__info-banner {
      margin-left: 0;
    }
  }
}
