@import "../../../../../../themes/orbcStyles";

.loa-vehicle-table {
  color: $bc-black;

  &.table-container {
    padding-bottom: 0;
  }

  &__search {
    .search-label {
      font-weight: bold;
      margin-bottom: 0.5rem;

      &--light {
        font-weight: normal;
      }
    }

    .search-input {
      &__input-container {
        border: 2px solid $bc-text-box-border-grey;

        fieldset {
          border: none;
        }
      }
    }
  }
}
