@use "../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".company-info");

.company-info {
  border-top: none;
  
  &__banner {
    margin-bottom: 1.5rem;
  }

  &__doing-business {
    margin-bottom: 1.5rem;
  }
}
