@use "../../../../../common/components/dashboard/Dashboard";
@import "../../../../../themes/orbcStyles";

@include Dashboard.layout-box-style(".amend-permit-finish .breadcrumb");
@include Dashboard.layout-box-style(".amend-permit-finish .refund-page");

.amend-permit-finish {
  background-color: $bc-white;
  padding-bottom: 3rem;

  .refund-page {
    padding-top: 0;
    padding-bottom: 0;
  }
}
