@import "../../../../../themes/orbcStyles.scss";

.amend-permit-finish {
  background-color: $bc-white;
  padding-bottom: 3rem;

  .breadcrumb {
    padding: 2em 8.551vw;
  }

  .refund-page {
    padding: 0 8.551vw;
  }
}

@media (width < 768px) {
  .amend-permit-finish {
    .breadcrumb {
      padding: 2em 5.5rem;
    }

    .refund-page {
      padding: 0 5.5rem;
    }
  }
}

@media (width < 420px) {
  .amend-permit-finish {
    .breadcrumb {
      padding: 2em 1rem;
    }

    .refund-page {
      padding: 0 1rem;
    }
  }
}
