@import "../../../themes/orbcStyles";

.layout-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  &--tab {
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }

  &__text-section {
    display: flex;
    justify-content: space-between;
  }

  & &__button {
    display: flex;
    align-items: center;
  }

  & &__text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.5rem;
    color: $bc-black;
  }

  & &__subtext {
    margin-top: 1rem;
    font-size: 1rem;
    color: $bc-black;
  }
}

@media (width < 600px) {
  .layout-banner {
    & &__text-section {
      flex-direction: column;
    }
  }
}
