@import "../../../themes/orbcStyles.scss";

.tabpanel-container {
  padding: 0 8.551vw;
  overflow: hidden;
  background-color: white;
  min-height: calc(100vh - 306px);
  height: 100%;
}

.layout-box {
  padding: 0 8.551vw;
}

.MuiTabs-scrollButtons.Mui-disabled {
  display: none;
}

.display-tabs {
  .MuiTab-root.Mui-selected {
    color: $bc-text-links-blue;
  }
}

@media screen and (max-width: 768px) {
  .tabpanel-container {
    padding: 0 5.5rem;
  }

  .layout-box {
    padding: 0 5.5rem;
  }
}

@media (width < 600px) {
  .MuiTabs-flexContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 420px) {
  .tabpanel-container {
    padding: 0 1rem;
  }

  .layout-box {
    padding: 0 1rem;
  }
}
