.tabpanel-container {
  padding: 0 3.75rem;
  overflow: hidden;
  background-color: white;
  min-height: calc(100vh - 306px);
  height: 100%;
}

.layout-box {
  padding: 0 3.75rem;
}

@media screen and (max-width: 768px) {
  .tabpanel-container {
    padding: 0 1.25rem;
  }

  .layout-box {
    padding: 0 1.25rem;
  }
}
