.tabpanel-container {
  padding: 0px 60px;
  overflow: hidden;
  background-color: white;
  height: 100vh;
}

.tabpanel-container-mobile {
  padding: 0px 20px;
  overflow: hidden;
  background-color: white;
  height: 100vh;
}

.dash-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
