@import "../../../../../../themes/orbcStyles";

.permit-pay-fee-summary {
  background-color: $banner-grey;
  border-radius: 0.25rem;

  & &__pay {
    display: flex;
    flex-direction: column;

    .fee-summary {
      margin: 0;
    }
  }

  & &__pay-btn {
    position: relative;
    margin: 0 1.5rem 1.5rem;
  }

  & &__btn-tooltip {
    right: calc(100% + 0.75rem);
    top: 0.375rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: $white;
    background-color: $bc-black;
    font-weight: normal;
    border-radius: 0.25rem;
    position: absolute;
    width: max-content;
  }

  & &__btn {
    font-weight: bold;
    width: 100%;
  }
}
