@use "../../../../../themes/orbcStyles";

.loa-steps {
  padding-bottom: 3rem;
  
  & &__step-component {
    margin-bottom: 2.5rem;
  }

  .stepper {
    margin: 2.5rem 0;
  }

  .steps-navigation {
    &__btn {
      &--cancel {
        margin-right: 2.5rem;
        cursor: pointer;
        background-color: orbcStyles.$bc-background-light-grey;
        color: orbcStyles.$bc-black;
        border: none;

        &:hover {
          border: 2px solid orbcStyles.$bc-text-box-border-grey;
          background-color: orbcStyles.$bc-background-light-grey;
          cursor: pointer;
          box-shadow: none;
        }
      }

      &--prev {
        margin-right: 2.5rem;
        border: 2px solid orbcStyles.$bc-primary-blue;
        border-radius: 0.25rem;
        color: orbcStyles.$bc-primary-blue;
        background-color: orbcStyles.$white;

        &:hover {
          color: orbcStyles.$white;
          background-color: orbcStyles.$bc-text-links-blue;
          border: 2px solid orbcStyles.$bc-text-links-blue;
        }
      }

      &--next, &--finish {
        font-weight: bold;
      }
    }
  }
}

.step {
  .loa-steps &#{&}--first {
    padding-left: 0;
  }

  .loa-steps & {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .loa-steps & &__label {
    & {
      align-items: flex-start;
    }

    &-container {
      text-align: start;
    }

    &--active {
      color: orbcStyles.$bc-background-blue;
      font-weight: bold;
    }

    &--completed {
      color: orbcStyles.$bc-green;
      font-weight: bold;
    }

    &--disabled {
      color: orbcStyles.$bc-text-box-border-grey;
      font-weight: bold;
    }
  }

  .loa-steps & &__icon {
    overflow: visible;
    fill: orbcStyles.$white;
    stroke-width: 0.25rem;
    stroke: orbcStyles.$bc-text-box-border-grey;

    &--active {
      stroke: orbcStyles.$bc-background-blue;
    }

    &--completed {
      stroke: orbcStyles.$white;
      stroke-width: 0;
      fill: orbcStyles.$bc-green;
      transform: scale(1.2);
    }
  }

  .loa-steps & &__step-number {
    display: none;
  }

  .loa-steps & &__connector-line {
    border-width: 0.25rem;
  }

  .loa-steps & &__connector {
    left: calc(-100% + 3.75rem);
    right: calc(100% + 0.75rem);
  }
}
