@use "./themes/orbcStyles";

body {
  margin: 0;
  /* Fonts from  https://developer.gov.bc.ca/Design-System/Typography */
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  background-color: orbcStyles.$bc-background-light-grey;
}

.feature-container {
  height: calc(100vh - 155px);
}

@media screen and (max-width: 768px) {
  .feature-container {
    height: calc(100vh - 115px);
  }
}