@use "../../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".vehicle-information-section");
@include orbcStyles.permit-left-box-style(".vehicle-information-section__header");
@include orbcStyles.permit-right-box-style(".vehicle-information-section__body");

.vehicle-information-section {
  border-bottom: none;

  & &__info {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5rem;

    &--single-trip {
      flex-direction: column;
      align-items: flex-start;
    }

    .add-power-unit {
      margin-top: 1.5rem;

      .add-power-unit-btn {
        display: flex;
        align-items: center;
        color: orbcStyles.$bc-black;
  
        &--disabled {
          color: orbcStyles.$disabled-colour;
          border-color: orbcStyles.$disabled-colour;
          background-color: orbcStyles.$white;
        }
  
        &__icon {
          margin-right: 0.5rem;
        }
      }

      &__error {
        color: orbcStyles.$bc-red;
        margin: 0.5rem 0 0 0;
      }
    }

    .vehicle-details {
      width: 100%;
    }
  }

  & &__info-banner {
    margin-left: 2.5rem;
    height: fit-content;
    height: -moz-fit-content; /* For Firefox, Firefox Android */

    &--single-trip {
      margin: 0;
    }

    .vehicle-inventory-info {
      font-weight: normal;
    }
  }

  .power-unit-info {
    margin-top: 1.5rem;
  }
}

@media (width < 1370px) {
  .vehicle-information-section {
    & &__info {
      flex-direction: column;
    }

    & &__info-banner {
      margin-left: 0;
    }
  }
}
