@use "../../../themes/orbcStyles";

.display-company-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;

  &__edit {
    button {
      margin-top: 20px;
      
      &:disabled {
        background-color: transparent;
        border-width: 3px;
        color: orbcStyles.$disabled-colour;
        border-color: orbcStyles.$disabled-colour;
      }

      i {
        margin-right: 7px;
      }
    }
  }
}

@media (width <= 500px) {
  .display-company-info {
    display: flex;
    flex-direction: column;
  }
}
