@use "../../../common/components/table/Table";
@import "../../../themes/orbcStyles";

.table-container {
  &__delete-button {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
    padding-bottom: 1.5rem;
  }
}
