@use "../../../../common/components/dashboard/Dashboard";
@import "../../../../themes/orbcStyles";

@include Dashboard.layout-box-style(".pay-now-page");

.pay-now-page {
  display: flex;
  flex-direction: row;
  background-color: $white;
  padding-bottom: 3rem;

  & &__left-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 2rem;
  }

  & &__right-container {
    background-color: $bc-white;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 2rem;

    .choose-payment-method {
      margin-bottom: 2.5rem;
    }

    .payment-failed-banner {
      margin: 0;
    }
  }

  & &__contact {
    color: $bc-black;
    margin-top: 2.5rem;
    margin-bottom: 10.75rem;

    .pay-contact {
      font-weight: 700;
    }
  }
}
