@import "../../../../themes/orbcStyles.scss";

//TODO: not yet implemented
.tros-main-box {
  display: flex;
  flex-wrap: wrap;
  background-color: $bc-white;
  border-bottom: 1px solid $bc-text-box-border-grey;
  padding-bottom: 24px;
}

.tros-left-box {
  padding-top: 24px;
  min-width: 400px;
  max-width: $tros-left-column-width;
}

.tros-right-box {
  padding-top: 24px;
  min-width: calc(100% - $tros-left-column-width);
  max-width: $tros-left-column-width;
}

// Custom styling for MUI Select fields
.select-field-form-label {
  font-weight: bold !important;
  margin-bottom: 8px !important;
}

.payment-option-box {
  max-width: 500px;
  background-color: $bc-messages-blue-background;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $bc-black;
  opacity: 1;
}

.payment-option-container {
  display: block;
}

.payment-layout {
  padding: 0px 60px;
  overflow: hidden;
  background-color: white;
  min-height: calc(100vh - 390px);
  height: 100%;
}

.payment-img {
  height: 16px;
  width: auto;
  padding: 0px 8px;
}

.payment-img-payBC {
  height: 27px;
  margin-bottom: -4px;
}

.payment-fee-summary {
  padding: 24px;
  max-width: 488px;
  margin-left: auto;
}
