@use "../../../../common/components/dashboard/Dashboard";
@import "../../../../themes/orbcStyles";

@include Dashboard.layout-box-style(".pay-now-page .payment");
@include Dashboard.layout-box-style(".pay-now-page .breadcrumb");

.payment {
  background-color: $bc-white;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 0;
}
