@import "../../../../themes/orbcStyles.scss";

.payment {
  padding: 0 8.551vw;;
  background-color: $bc-white;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

@media (width < 768px) {
  .payment {
    padding: 0 5.5rem;
  }
}

@media (width < 420px) {
  .payment {
    padding: 0 1rem;
  }
}
