@use "../../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".commodity-details-section");
@include orbcStyles.permit-left-box-style(".commodity-details-section__header");
@include orbcStyles.permit-right-box-style(".commodity-details-section__body");

.commodity-details-section {
  & &__input {
    max-width: 30.625rem;

    .custom-form-control {
      margin: 1.5rem 0 0 0;
    }

    &--commodity-type {
      margin: 0;
      width: 100%;
    }
  }
}
