@use "../../../../../../../themes/orbcStyles";
@include orbcStyles.permit-main-box-style(".commodity-details-section");

.commodity-details-section {
  &__listbox.custom-listbox {
    max-height: 20rem;
    overflow-y: auto;
  }

  & &__input {
    max-width: 30.625rem;
    width: 100%;
  }
}
