<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <title>onRouteBC Access Restricted</title>
</head>

<div>
  <div class="container" style="margin: 0 2em">
    <br />
    <div>
      <img
        src="{{ whiteHeaderOrbcLogo }}"
        alt="onRouteBCLogo"
        style="background-color: #fff; margin: 0px"
      />
    </div>
    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
    <div class="flex-container" style="margin: 1em 0">
      <h2
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 32px;
          color: #313132;
          margin: 0px;
        "
      >
        onRouteBC
      </h2>
    </div>

    <div class="flex-container" style="margin: 1em 0">
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        {{ companyName }}
        OnRouteBC access is restricted.
      </p>
    </div>

    <div class="flex-container" style="margin: 1em 0">
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        For more information please contact
        <a href="mailto: ppcpermit@gov.bc.ca" style="color: #1a5a96"
          >ppcpermit&#64;gov.bc.ca</a
        >.
      </p>
    </div>

    <div class="flex-container" style="margin: 1em 0">
      <h4
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 20px;
          color: #313132;
          margin: 0px;
        "
      >
        onRouteBC Client Number
      </h4>
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
          text-decoration: none;
        "
      >
        {{ onRoutebBcClientNumber }}
      </p>
    </div>

    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
    <div class="flex-container" style="margin: 1em 0">
      <br />
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0;
        "
      >
        Have questions or need help? Check out the
        <a
          href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/services/permitting/commercial-transport-permits"
          style="color: #1a5a96"
          >Commercial Vehicle Permits</a
        >
        page or email us at
        <a href="mailto:onRouteBc@gov.bc.ca" style="color: #1a5a96"
          >onRouteBc&#64;gov.bc.ca</a
        >.
      </p>

      <br />

      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        <a href="#" style="color: #1a5a96">Terms of Service</a>
        and
        <a href="#" style="color: #1a5a96">Privacy Policy</a>
      </p>
    </div>
    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
  </div>
</div>
