@use "../../../../../../../themes/orbcStyles";

@include orbcStyles.permit-main-box-style(".conditional-licensing-fee-section");
@include orbcStyles.permit-left-box-style(".conditional-licensing-fee-section__header");
@include orbcStyles.permit-right-box-style(".conditional-licensing-fee-section__body");

.conditional-licensing-fee-section {
  & &__radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .conditional-licensing-fee-type {
      margin-top: 1.5rem;

      &--none {
        margin-top: 0;
      }

      &__label {
        margin: 0;
      }

      &__radio {
        padding: 0;
        margin-right: 0.5rem;

        &:hover {
          background-color: orbcStyles.$bc-border-grey;
        }

        &--checked {
          &:hover {
            background-color: transparent;
          }
        }

        &--disabled {
          color: orbcStyles.$disabled-colour;
        }
      }

      &__link {
        margin-left: 0.25rem;
      }
    }
  }
}
