@use "../../../../themes/orbcStyles";

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orbcStyles.$bc-white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 540px;
    margin: 5rem 0 8rem 0;
  }

  &__block {
    margin: 1em 0;

    &--success-msg {
      color: orbcStyles.$bc-black;
      font-weight: 700;
      font-size: 1.5rem;
    }

    &--info {
      padding: 1.5em 1em;
      border-top: 2px solid orbcStyles.$bc-border-grey;
      border-bottom: 2px solid orbcStyles.$bc-border-grey;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: orbcStyles.$bc-black;
    }

    &--apply-permit {
      .success-btn {
        font-weight: 600;
      }
    }

    &--view-permits {
      .success-btn {
        border: 1px solid orbcStyles.$bc-text-box-border-grey;

        &--view-permits {
          border: 2px solid orbcStyles.$bc-text-box-border-grey;
        }

        &--view-receipt {
          margin-left: 1.5rem;
          border: 2px solid orbcStyles.$bc-text-box-border-grey;
        }
      }
    }
  }
}
