.dash-container {
  display: flex;
}

.dash-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-downarrow {
  margin-left: 10px;
}

.MuiInputBase-input {
  height: 20px;
}