@import "../../../../../themes/orbcStyles";

.transaction-history-table {
  &#{&} {
    overflow: visible;
    box-shadow: none;
    margin-bottom: 2.5rem;
  }

  & &__container {
    width: 100%;
    border-left: 1px solid $bc-border-grey;
    border-right: 1px solid $bc-border-grey;
  }

  & &__row {
    &--selected {
      background-color: $bc-messages-blue-background;
    }
  }

  & &__checkbox {
    position: absolute;
    top: 1.5rem;
    &--disabled {
      display: none;
    }
  }

  & &__header {
    background-color: $bc-background-light-grey;
  }

  & &__cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
      &:nth-child(2) {
        padding-left: 1rem;
      }
      &:last-child {
        padding-right: 1rem;
      }

    .cell__inner {
      position: absolute;
      top: 1rem;
    }

    .cell__value {
      padding-top: .5rem;
    }
  }

  & &__input-container {
    margin: 0;
  }

  &__input {
    display: flex;
    align-items: center;
    &--refund-amount {
      .MuiInputBase-input {
        padding-left: 1.5rem;
      } 
      .MuiOutlinedInput-notchedOutline {
        &::before {
          content: "$";
          position: absolute;
          left: 10px;
          top: 18px;
          transform: translateY(-50%);
          color: #333;
        }
      }
    }

    .MuiFormControl-root {
      margin: 0;
    }

    .MuiFormLabel-root {
      display: none;
    }
  }
}
