@import "../../../../../themes/orbcStyles";

.transaction-history-table {
  &#{&} {
    overflow: visible;
    box-shadow: none;
  }

  & &__container {
    width: 100%;
    border-left: 1px solid $bc-border-grey;
    border-right: 1px solid $bc-border-grey;
  }

  & &__row {
    &--selected {
      background-color: $bc-messages-blue-background;
    }
  }

  & &__checkbox {
    position: absolute;
    top: 1.5rem;
    &--disabled {
      display: none;
    }
  }

  & &__header {
    background-color: $bc-background-light-grey;
  }

  & &__cell {
    height: 2.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
      &:nth-child(2) {
        padding-left: 1rem;
      }
      &:last-child {
        padding-right: 1rem;
      }

    .cell__inner {
      position: absolute;
      top: 1rem;
    }

    .cell__value {
      padding-top: .75rem;
    }
  }

  & &__input-container {
    margin: 0;
  }

  &__input {
    display: flex;
    align-items: center;
    width: 205px;
  }
}
