@import "../../../../../../themes/orbcStyles";

.permit-pay-fee-summary {
  & &__pay {
    max-width: 33rem;

    .fee-summary {
      margin-bottom: 2em;
    }
  }

  & &__pay-btn {
    width: 100%;
    font-weight: 600;
  }

  & &__contact {
    color: $bc-black;
    margin-top: 2.5rem;
    margin-bottom: 10.75rem;

    .pay-contact {
      font-weight: 700;
    }
  }
}
