.table-container {
  overflow: hidden;
  background-color: white;
  height: calc(100vh - 306px);
  padding-bottom: 100px;

  @media screen and (max-width: 768px) {
    height: calc(100vh - 267px);
    padding-bottom: 200px;
  }
}
